In [7]:
s=input()
s=sorted(s)
a=""
for i in s:
    a=a+i
print(a)

;kdljhkbdn
;bddhjkkln

In [10]:
# A function that returns the 'year' value:

def ageFunc(ele):
    return ele['age']

#declaring a list of student dictionaries

students = [

  {'name': 'Mark', 'email':'mark@example.com' ,'age': 28},

  {'name': 'John', 'email':'john@example.com' ,'age': 23},

  {'name': 'Albert', 'email':'albert@example.com' ,'age': 21},

  {'name': 'Cameron', 'email':'cameron@example.com' ,'age': 27},

  {'name': 'Taylor', 'email':'taylor@example.com' ,'age': 25}

]        

#sorting the list

students.sort(key=ageFunc)

#printing the sorted list
print(type(students))
print(students)

<class 'list'>
[{'name': 'Albert', 'email': 'albert@example.com', 'age': 21}, {'name': 'John', 'email': 'john@example.com', 'age': 23}, {'name': 'Taylor', 'email': 'taylor@example.com', 'age': 25}, {'name': 'Cameron', 'email': 'cameron@example.com', 'age': 27}, {'name': 'Mark', 'email': 'mark@example.com', 'age': 28}]

In [17]:
#declaring a function

def funcLen(ele):

    return len(ele)

#declaring a list of animals

my_list = ['Goat','Cat','Elephant','Crocodil','Rabbit','Rhinoceros']

print("The original list is: ")

print(my_list)

#sorting the list using the funcLen function

my_list.sort(key=funcLen)

print("The sorted list is: ")
for i in my_list:
    print(i)

The original list is:
['Goat', 'Cat', 'Elephant', 'Crocodil', 'Rabbit', 'Rhinoceros']
The sorted list is:
Cat
Goat
Rabbit
Elephant
Crocodil
Rhinoceros

In [70]:
s=input()

def lowUpDigitcase(x):
    x=str(x)
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    for ele in x:
        if ele.islower():
            a.append(ele)
        elif ele.isupper():
            b.append(ele)
        elif ele.isdigit():
            c.append(ele)

    for i in c:
        i=int(i)
        if i%2!=0:
            d.append(str(i))
        else:
            e.append(str(i))
    a.sort()
    b.sort()
    c.sort()
    d.sort()
    e.sort()
    return a+b+d+e
s=lowUpDigitcase(s)
s=list(s)
a=""
for i in s:
    a=a+i
print(a)

Sorting1234
ginortS1324

In [31]:
s="lhksbnU"

In [32]:
s.

'lhksbnu'

In [27]:
s=list(s)

In [28]:
s=s.sort()

In [29]:
s

In [56]:
l=["gf", "jhd"]
l2=[67, 90]

In [57]:
l.sort()
l2.sort()

In [58]:
l3=l+l2

In [59]:
l3

['gf', 'jhd', 67, 90]

In [ ]:
l3.

In [75]:
print (zip([1,2,3,4,5,6],'Hacker'))

<zip object at 0x00000232DD5C5C40>

In [78]:
print ([i for i in zip([1,2,3,4,5,6])])

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [76]:
print ([i for i in zip([1,2,3,4,5,6],'Hacker')])

[(1, 'H'), (2, 'a'), (3, 'c'), (4, 'k'), (5, 'e'), (6, 'r')]

In [7]:
n, x = map(int, input().split())
a=[]
for i in range(x):
    b=input().split()[:n]
    b=[float(j) for j in b]
    a=a+[b]

#print(a)
for i in list(zip(*a)):
    print(sum(i)/x)

5 3
89 90 78 93 80
90 91 85 88 86
91 92 83 89 90.5
[[89.0, 90.0, 78.0, 93.0, 80.0], [90.0, 91.0, 85.0, 88.0, 86.0], [91.0, 92.0, 83.0, 89.0, 90.5]]
90.0
91.0
82.0
90.0
85.5

In [ ]:
5 3
89 90 78 93 80
90 91 85 88 86  
91 92 83 89 90.5

In [12]:
if __name__ == '__main__':
    first_multiple_input = input().rstrip().split()

    n = int(first_multiple_input[0])

    m = int(first_multiple_input[1])

    arr = []

    for i in range(n):
        arr.append(list(map(int, input().rstrip().split()[:m])))
    dict1={}
    k = int(input())
    l=list(zip(*a))
    print(l)
    for i in range(len(l)):
        dict1[str(i)]=l[i]
    def KFunc(ele):
        return ele[k]
    l.sort(key=KFunc)
    print(l)

5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1
[(89.0, 90.0, 91.0), (90.0, 91.0, 92.0), (78.0, 85.0, 83.0), (93.0, 88.0, 89.0), (80.0, 86.0, 90.5)]
[(78.0, 85.0, 83.0), (80.0, 86.0, 90.5), (93.0, 88.0, 89.0), (89.0, 90.0, 91.0), (90.0, 91.0, 92.0)]

In [ ]:
5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1

In [ ]:
l.sort()

In [24]:
if __name__ == '__main__':
    first_multiple_input = input().rstrip().split()

    n = int(first_multiple_input[0])

    m = int(first_multiple_input[1])

    arr = []

    for i in range(n):
        arr.append(list(map(int, input().rstrip().split()[:m])))
    dict1={}
    k = int(input())
    l=list(arr)

    def KFunc(ele):
        return ele[k]
    arr.sort(key=KFunc)
    for i in arr:
        for j in i:
            print(j,end=" ")
        print()

5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1
7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

In [ ]:
5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1

In [18]:
i=[23, 1,34]

In [20]:
print([j for j in i])

[23, 1, 34]

In [3]:
from itertools import product

print (list(product([1,2,3],repeat = 2)))

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [4]:
print (list(product([1,2,3],[3,4],repeat = 2)))

[(1, 3, 1, 3), (1, 3, 1, 4), (1, 3, 2, 3), (1, 3, 2, 4), (1, 3, 3, 3), (1, 3, 3, 4), (1, 4, 1, 3), (1, 4, 1, 4), (1, 4, 2, 3), (1, 4, 2, 4), (1, 4, 3, 3), (1, 4, 3, 4), (2, 3, 1, 3), (2, 3, 1, 4), (2, 3, 2, 3), (2, 3, 2, 4), (2, 3, 3, 3), (2, 3, 3, 4), (2, 4, 1, 3), (2, 4, 1, 4), (2, 4, 2, 3), (2, 4, 2, 4), (2, 4, 3, 3), (2, 4, 3, 4), (3, 3, 1, 3), (3, 3, 1, 4), (3, 3, 2, 3), (3, 3, 2, 4), (3, 3, 3, 3), (3, 3, 3, 4), (3, 4, 1, 3), (3, 4, 1, 4), (3, 4, 2, 3), (3, 4, 2, 4), (3, 4, 3, 3), (3, 4, 3, 4)]

In [30]:
A = [[1,2,3],[3,4,5]]
print (list(product(A)))

[([1, 2, 3],), ([3, 4, 5],)]

In [32]:
A = [[1,2,3],[3,4,5]]
print (list(product(*A)))
# result- [(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]

In [33]:
B = [[1,2,3],[3,4,5],[7,8]]
print (list(product(*B)))

[(1, 3, 7), (1, 3, 8), (1, 4, 7), (1, 4, 8), (1, 5, 7), (1, 5, 8), (2, 3, 7), (2, 3, 8), (2, 4, 7), (2, 4, 8), (2, 5, 7), (2, 5, 8), (3, 3, 7), (3, 3, 8), (3, 4, 7), (3, 4, 8), (3, 5, 7), (3, 5, 8)]

In [37]:
from itertools import product
a=list(map(int,(input().split())))
b=list(map(int,(input().split())))
a=set(a)
b=set(b)
a=list(a)
b=list(b)
print("a is- ", a)
print("a is- ", b)
l=list(product(a,b))
for i in l:
    print (i, end=" ")

1 2 3
4 5 56
a is-  [1, 2, 3]
a is-  [56, 4, 5]
(1, 56) (1, 4) (1, 5) (2, 56) (2, 4) (2, 5) (3, 56) (3, 4) (3, 5)

In [5]:
from itertools import combinations
s, k = input().split(" ")
k=int(k)

s=s.upper()
l1=[]

for i in range(len(s)):
    l1.append(list(combinations(s, (i+1))))

for z in range(k):
    l1[z]=list(l1[z])
    #l1[z].sort()
    for i in range(len(l1[z])): 
        l1[z][i]=list(l1[z][i])
        l1[z][i].sort() 
for z in range(k):
    l1[z].sort()
#l1.sort()        
for z in range(k):
    for i in l1[z]:
        for j in i:
            print(j, end="")
        print()

Uppers 5
E
P
P
R
S
U
EP
EP
ER
ES
EU
PP
PR
PR
PS
PS
PU
PU
RS
RU
SU
EPP
EPR
EPR
EPS
EPS
EPU
EPU
ERS
ERU
ESU
PPR
PPS
PPU
PRS
PRS
PRU
PRU
PSU
PSU
RSU
EPPR
EPPS
EPPU
EPRS
EPRS
EPRU
EPRU
EPSU
EPSU
ERSU
PPRS
PPRU
PPSU
PRSU
PRSU
EPPRS
EPPRU
EPPSU
EPRSU
EPRSU
PPRSU

In [2]:
l1

[[['A'], ['G'], ['K'], ['K'], ['K'], ['S']],
 [['A', 'G'],
  ['A', 'K'],
  ['A', 'K'],
  ['A', 'K'],
  ['A', 'S'],
  ['G', 'K'],
  ['G', 'K'],
  ['G', 'K'],
  ['G', 'S'],
  ['K', 'K'],
  ['K', 'K'],
  ['K', 'K'],
  ['K', 'S'],
  ['K', 'S'],
  ['K', 'S']],
 [['A', 'G', 'K'],
  ['A', 'G', 'K'],
  ['A', 'G', 'K'],
  ['A', 'G', 'S'],
  ['A', 'K', 'K'],
  ['A', 'K', 'K'],
  ['A', 'K', 'K'],
  ['A', 'K', 'S'],
  ['A', 'K', 'S'],
  ['A', 'K', 'S'],
  ['G', 'K', 'K'],
  ['G', 'K', 'K'],
  ['G', 'K', 'K'],
  ['G', 'K', 'S'],
  ['G', 'K', 'S'],
  ['G', 'K', 'S'],
  ['K', 'K', 'K'],
  ['K', 'K', 'S'],
  ['K', 'K', 'S'],
  ['K', 'K', 'S']]]

In [40]:
from itertools import permutations

In [41]:
print (permutations(['1','2','3']))
# output <itertools.permutations object at 0x02A45210>

<itertools.permutations object at 0x00000228997FFEA0>

In [43]:
print (list(permutations(['1','2','3'])))

[('1', '2', '3'), ('1', '3', '2'), ('2', '1', '3'), ('2', '3', '1'), ('3', '1', '2'), ('3', '2', '1')]

In [89]:
print (list(permutations(['1','2','3', '4'],2)))

[('1', '2'), ('1', '3'), ('1', '4'), ('2', '1'), ('2', '3'), ('2', '4'), ('3', '1'), ('3', '2'), ('3', '4'), ('4', '1'), ('4', '2'), ('4', '3')]

In [90]:
print (list(combinations(['1','2','3', '4'],2)))

[('1', '2'), ('1', '3'), ('1', '4'), ('2', '3'), ('2', '4'), ('3', '4')]

In [78]:
from itertools import permutations
s, k = input().split(" ")
k=int(k)

s=s.upper()
l1=[]
#for i in range(k):
l1=list(permutations(s, k))
#print(l1, "L1        :")

for z in range(len(l1)):
    l1[z]=list(l1[z])

#print(l1, "L2        :")

l1.sort()        
for z in l1:
    for i in z:
        print(i, end="")
    print()
#print(l1, "L3        :")

abcd 3
ABC
ABD
ACB
ACD
ADB
ADC
BAC
BAD
BCA
BCD
BDA
BDC
CAB
CAD
CBA
CBD
CDA
CDB
DAB
DAC
DBA
DBC
DCA
DCB

In [79]:
from itertools import combinations_with_replacement

print (list(combinations_with_replacement('12345',2)))

[('1', '1'), ('1', '2'), ('1', '3'), ('1', '4'), ('1', '5'), ('2', '2'), ('2', '3'), ('2', '4'), ('2', '5'), ('3', '3'), ('3', '4'), ('3', '5'), ('4', '4'), ('4', '5'), ('5', '5')]

In [230]:
A = ['h','a','c','k']
print (list(combinations(A,2)))

[('h', 'a'), ('h', 'c'), ('h', 'k'), ('a', 'c'), ('a', 'k'), ('c', 'k')]

In [225]:
from itertools import combinations_with_replacement
s, k = input().split(" ")
k=int(k)

s=s.upper()
l1=[]
#for i in range(k):
l1=list(combinations_with_replacement(s, k))
print(l1, "L1        :")
print("length", len(l1))
for z in range(len(l1)):
    l1[z]=list(l1[z])
    l1[z].sort() 

#print(l1, "L2        :")

l1.sort()        
for z in l1:
    for i in z:
        print(i, end="")
    print()
#print(l1, "L3        :")

Hack 2
[('H', 'H'), ('H', 'A'), ('H', 'C'), ('H', 'K'), ('A', 'A'), ('A', 'C'), ('A', 'K'), ('C', 'C'), ('C', 'K'), ('K', 'K')] L1        :
length 10
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK

In [228]:
from itertools import combinations

n = int(input())
l=list(input().split()[:n])
k = int(input())
s=list(combinations(l,k))
print("length", len(s))
print (list(combinations(l,k)))
c=0
for i in s:
    if 'a' in i:
        c=c+1
print(round(c/len(s),3))

4
h a c k
2
length 6
[('h', 'a'), ('h', 'c'), ('h', 'k'), ('a', 'c'), ('a', 'k'), ('c', 'k')]
0.5

In [92]:
i=('a', 'c')
if 'a' in i:
#    c=c+1
    print("y")

y

In [94]:
groups = []
uniquekeys = []
data = sorted(data, key=keyfunc)
for k, g in groupby(data, keyfunc):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

NameError: name 'data' is not defined

In [144]:
def groupby1(s):
    
    t=[]
    for i in range(10):
        if str(i) in s:
            t.append((i, s.count(str(i))))
    return t
g=groupby1("1222311")
for i in g:
    print(i, end=" ")

(1, 3) (2, 3) (3, 1)

In [ ]:
1222311

In [103]:
l=[1,2,2,2,2, 3,3, 4,1]

In [105]:
l.count(1)

2

In [ ]:
distict()

In [146]:
def groupby1(s):
    
    t=[]
    for i in range(10):
        if str(i) in s:
            t.append((i, s.count(str(i))))
    return t
for i in t:
print()

NameError: name 'lgroupby1' is not defined

In [124]:
groupby1("1222311")

[(1, 3), (2, 3), (3, 1)]

In [112]:
t=(1,2)

In [114]:
t.count(1)

1

In [119]:
s="1222311"

In [120]:
s.count(1)

TypeError: must be str, not int

In [142]:
from itertools import compress
list(compress("1222311", range(10)))

['2', '2', '2', '3', '1', '1']

In [145]:
g=[]
for i in range(10):
    if str(i) in s:
        g.append(list(compress("1222311", str(i))))    
#g=groupby1("1222311")
for i in g:
    print(list(i), end=" ")

['1'] ['1'] ['1']

In [148]:
from itertools import compress

def groupby1(s):
    t=[]
    for i in range(10):
        if str(i) in s:
            compress(data, selectors)
            t.append((i, s.count(str(i))))
    return t
g=[]
for i in range(10):
    if str(i) in s:
        g.append(compress("1222311", str(i)))    
#g=groupby1("1222311")
for i in g:
    print(list(i), end=" ")

['1'] ['1'] ['1']

In [190]:
from itertools import compress

def groupby1(s):
    x=[]
    t=[]
    s1=list(s)
    
    for k in range(len(s1)):
        for i in range(10):
            c=0
            s2=[]
            for j in s1:
                if str(i) == j:
                    c=c+1
                    s2.append(str(i))
                else: 
                    break
            for z in s2:
                s1.remove(z)
            if c==0:
                pass
            else:
                t.append((i, c))
            #x.append(c)
                
#t.append((i, s.count(str(i))))
    #print(t)
    return t
g=groupby1("12223111")

for i in g:
    print(i, end=" ")

(1, 1) (2, 3) (3, 1) (1, 3)

'\nfor i in range(5):\n    for j in range(10):\n        if j%2==0:\n            print("x",j)\n            break\n    print("y",i)\n'

In [178]:
s="setu"

In [179]:
s=list(s)

In [180]:
s.remove([i for i in ['s','e']])

ValueError: list.remove(x): x not in list

In [163]:
s

['e', 't', 'u']

In [213]:
import math
k, m = input().split(" ")
k=int(k)
m=float(m)
max1=[]
def sq(x):
    return math.pow(x, 2)
    
for i in range(k):
    ni = list(map(int, input().split(" ")))
    max1.append(max(ni))
print(max1)
sum=0.0

for i in max1:
    sum=sum+(sq(i))
s1=int(sum%m)
print(s1)

3 998
67828645 425092764 242723908 669696211 501122842 438815206
625649397 295060482 262686951 815352670
100876777 196900030 523615865
[669696211, 815352670, 523615865]
722

In [ ]:
3 1000
2 5 4
3 7 8 9 
5 5 7 8 9 10 

3 998
67828645 425092764 242723908 669696211 501122842 438815206
625649397 295060482 262686951 815352670
100876777 196900030 523615865
974

In [202]:
max(100876777, 196900030, 523615865)

523615865

In [209]:
def sq(x):
    return math.pow(x, 2)

In [210]:
sq(10)

100.0

In [206]:
sum=5**2 + 9**2 +10**2

In [214]:
sum=669696211**2 + 815352670**2 + 523615865**2

In [215]:
sum

1387466565583583646

In [218]:
s=sum%998

In [219]:
s

624

In [220]:
list(iter([1, 2, 3, 4]))

[1, 2, 3, 4]

In [224]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [290]:
import math
k, m = input().split(" ")
k=int(k)
m=int(m)
m1=[]
    
for i in range(k):
    ni = list(map(int, input().split(" ")))
    m1.append(ni)
print("length of m1",len(m1))
l2=[i for i in m1]
print("l2      ", l2)
        
l1=list(product([i for i in m1]))
print(m1)
print(l1)
sum=0.0
sum1=[]
for i in l1:
    for j in i:
        sum=sum+(j*j)
    sum1.append(int(sum%m))
#s1=int(sum%m)
print("this is max list",sum1)

SyntaxError: invalid syntax (1736056301.py, line 14)

In [ ]:
3 998
67828645 425092764 242723908 669696211 501122842 438815206
625649397 295060482 262686951 815352670
100876777 196900030 523615865
974

In [325]:
a=[1,2,3,4]
b=[5,6,7,8,9]
c=[2,11]

In [333]:
l=list(map(sum, (a,b,c)))

TypeError: 'float' object is not callable

In [332]:
l

In [330]:
print (list(product(map(sum, l)))

SyntaxError: unexpected EOF while parsing (849887269.py, line 1)

In [265]:
m1=()

In [266]:
m1.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [347]:
l2=[[67828645, 425092764, 242723908, 669696211, 501122842, 438815206], [625649397, 295060482, 262686951, 815352670], [100876777, 196900030, 523615865]]

In [348]:
l3=[[j for j in i] for i in l2]

In [349]:
l3

[[67828645, 425092764, 242723908, 669696211, 501122842, 438815206],
 [625649397, 295060482, 262686951, 815352670],
 [100876777, 196900030, 523615865]]

In [ ]:
l4=

In [371]:
#x=lambda y:for i in range(len(y))
print (list(product(s1)))

[(1,), (2,), (3,), (4,), (5,)]

In [308]:
x=lambda y: i for i in range(len(y))

In [310]:
x(l3)

[0, 1, 2]

In [366]:
def ret(y):
    s=""
    for i in y:
        s=s+str(i)
    s=[int(i) for i in s]
    s=tuple(s)
    return s

In [368]:
s1=ret([1,2,3,4, 5])

In [369]:
s1

(1, 2, 3, 4, 5)

In [337]:
s1

['(',
 "'",
 '1',
 "'",
 ',',
 ' ',
 "'",
 '2',
 "'",
 ',',
 ' ',
 "'",
 '3',
 "'",
 ',',
 ' ',
 "'",
 '3',
 "'",
 ')']

In [401]:
k,m = map(int, input().split())
#k=int(k)
si=[]
ni=[]

for i in range(k):
    s=list(map(int, input().split()))
    si.append(s[0])
    ni.append(s[1:len(s)])
s_l=[]
list1=list(product (*ni))   ## Very Important for manupulation of unknown number of for loops as *p
print(list1)

for i in list1:
    sum=0
    for j in i:
        sum=sum+j*j
    print("sum ", sum)
    s_l.append(int(sum%m))
print(max(s_l))

5 84
1 765952241
3 289380515 265118103 309882974
2 747649220 587740446
2 682866882 596381508
1 342723101
[(765952241, 289380515, 747649220, 682866882, 342723101), (765952241, 289380515, 747649220, 596381508, 342723101), (765952241, 289380515, 587740446, 682866882, 342723101), (765952241, 289380515, 587740446, 596381508, 342723101), (765952241, 265118103, 747649220, 682866882, 342723101), (765952241, 265118103, 747649220, 596381508, 342723101), (765952241, 265118103, 587740446, 682866882, 342723101), (765952241, 265118103, 587740446, 596381508, 342723101), (765952241, 309882974, 747649220, 682866882, 342723101), (765952241, 309882974, 747649220, 596381508, 342723101), (765952241, 309882974, 587740446, 682866882, 342723101), (765952241, 309882974, 587740446, 596381508, 342723101)]
sum  1813169576612653831
sum  1702533301164605971
sum  1599629052310324347
sum  1488992776862276487
sum  1799716102689307215
sum  1689079827241259355
sum  1586175578386977731
sum  1475539302938929871
sum  1825455951726073282
sum  1714819676278025422
sum  1611915427423743798
sum  1501279151975695938
83

In [ ]:
from itertools import product
k,m = map(int, input().split())
#k=int(k)
si=[]
ni=[]

for i in range(k):
    s=list(map(int, input().split()))
    si.append(s[0])
    ni.append(s[1:len(s)])
s_l=[]
list1=list(product(*ni))   ## Very Important for manupulation of unknown number of for loops as *p
#print(list1)

for i in list1:
    sum=0
    for j in i:
        sum=sum+j*j
    #print("sum ", sum)
    s_l.append(int(sum%m))
print(max(s_l))

In [ ]:
3 1000
2 5 4
3 7 8 9 
5 5 7 8 9 10 

5 84
1 765952241
3 289380515 265118103 309882974
2 747649220 587740446
2 682866882 596381508
1 342723101

In [405]:
list1

0

In [404]:
list1=0

In [385]:
list2=list(product ([5, 4],[7, 8, 9],[5, 7, 8, 9, 10]))

In [402]:
list2

[(5, 7, 5),
 (5, 7, 7),
 (5, 7, 8),
 (5, 7, 9),
 (5, 7, 10),
 (5, 8, 5),
 (5, 8, 7),
 (5, 8, 8),
 (5, 8, 9),
 (5, 8, 10),
 (5, 9, 5),
 (5, 9, 7),
 (5, 9, 8),
 (5, 9, 9),
 (5, 9, 10),
 (4, 7, 5),
 (4, 7, 7),
 (4, 7, 8),
 (4, 7, 9),
 (4, 7, 10),
 (4, 8, 5),
 (4, 8, 7),
 (4, 8, 8),
 (4, 8, 9),
 (4, 8, 10),
 (4, 9, 5),
 (4, 9, 7),
 (4, 9, 8),
 (4, 9, 9),
 (4, 9, 10)]

In [433]:
n=int(input())
name=[]
score=[]
stu=[]

for i in range(n):
    nam=input()
    scor=float(input())
    name.append(nam)
    score.append(scor)
    stu.append([scor, nam])
print(stu)
for i in stu[1:3]:
    print(i[1])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
[[37.21, 'Harry'], [37.21, 'Berry'], [37.2, 'Tina'], [41.0, 'Akriti'], [39.0, 'Harsh']]

In [ ]:
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

Berry
Harry

In [408]:
l=[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]

In [437]:
l=stu

In [438]:
l

[[37.21, 'Harry'],
 [37.21, 'Berry'],
 [37.2, 'Tina'],
 [41.0, 'Akriti'],
 [39.0, 'Harsh']]

In [439]:
l.sort()

In [440]:
l

[[37.2, 'Tina'],
 [37.21, 'Berry'],
 [37.21, 'Harry'],
 [39.0, 'Harsh'],
 [41.0, 'Akriti']]

In [441]:
for i in l[1:3]:
    print(i[1])

Berry
Harry

In [414]:
#for i in l:
m=min(l[1][0:len(l)])

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
m

In [ ]:
4
Sona
-25.001
Mona
-25.0001
Mini
-25.000
Rita
-25.0

Mona

In [518]:
n=int(input())
name=[]
score=[]
stu=[]
dict1={}
for i in range(n):
    nam=input()
    scor=float(input())
    name.append(nam)
    score.append(scor)
    stu.append([scor, nam])
stu.sort()
#print(stu)
na=[]
c=0
for i in range(n):
#    print("length ",len(stu))
    #for j in range(len(stu[i])):
    if stu[i][0]==stu[0][0] and stu[i][0]==stu[1][0] and stu[i][0]==stu[2][0]: 
        c=c+1         
        #print("first true",i)
    elif stu[i][0]==stu[0][0] and stu[i][0]==stu[1][0]:
        c=c+1
        #print("second true", i)
    elif c+1<n:  
        if stu[i][0]==stu[c+1][0]:
            na.append([i,stu[i][0], stu[i][1]])
            #print("3rd true", i)
            c=c+1
    elif c==n-1 and stu[i][0]==stu[c][0]:
        na.append([i,stu[i][0], stu[c][1]])
        #print("4rd true", i)
#print("value of ",c)
#na.sort()
stu1=stu
print(na)
for j in range(len(na)):
        
    if len(na)>=2 and j<len(na):
        if na[j][1]!=na[j+1][1]: 
            print(na[j][2])
            break
        elif na[j][1]==na[j+1][1] or na[j-1][1]==na[j][1] and na[j-1][1]!=na[0][1]:
                print(na[j][2])
                #print()
    elif len(na)==1:
        print(na[0][2])
        break

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
[[0, 37.2, 'Tina'], [1, 37.21, 'Berry'], [2, 37.21, 'Harry'], [3, 39.0, 'Harsh'], [4, 41.0, 'Akriti']]
Tina

In [478]:
# using naive method
# to convert lists to dictionary
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break

In [479]:
res

{-25.0001: 'Mini', -25.0: 'Rita'}

In [641]:
#nested list
n=int(input())
name=[]
score=[]
stu=[]
for i in range(n):
    nam=input()
    scor=float(input())
    name.append(nam)
    score.append(scor)
    stu.append([scor, nam])
stu.sort()

l1=[]
for i in range(n):
    l1.insert(i, [])
j=0
c=0
j=0

for i in range(n):
    d=0
    while j <  n:
        if stu[j][0]==stu[i][0]:
            l1[c].insert(d, stu[j])
            d=d+1
            
        elif stu[j][0]!=stu[i][0]:
            if l1[c]!=[]:
                c=c+1
            break
        #print(j)
        j=j+1
if [] in l1:
    l1.remove([])

x1=l1[1]   # For 2nd minimum grade
for i in x1:
    print(i[1])
#print(l1)

6
da
20
sa
20
jfkj
20
ab
20
hgjh
10
klfj
50
ab
da
jfkj
sa

ab
av
dq

In [607]:
stu

[[10.0, 'abc'], [20.0, 'ab'], [20.0, 'av'], [30.0, 'cd'], [40.0, 'cdc']]

In [609]:
stu

[[10.0, 'abc'], [20.0, 'ab'], [20.0, 'av'], [30.0, 'cd'], [40.0, 'cdc']]

In [624]:
#for i in stu
n=5
l1=[]
for i in range(n):
    l1.insert(i, [])
j=0
c=0
j=0

for i in range(n):
    d=0
    while j <  n:
        if stu[j][0]==stu[i][0]:
            l1[c].insert(d, stu[j])
            d=d+1
            
        elif stu[j][0]!=stu[i][0]:
            if l1[c]!=[]:
                c=c+1
            break
        print(j)
        j=j+1
l1.remove([])
print(l1)
"""
    if i[0]!=stu[i][0]:
        break
    elif i[0]==stu[i][0]:
        if i[1]!=stu[i][1]
"""

0
1
2
3
4
[[[10.0, 'abc']], [[20.0, 'ab'], [20.0, 'av']], [[30.0, 'cd']], [[40.0, 'cdc']], []]

'\n    if i[0]!=stu[i][0]:\n        break\n    elif i[0]==stu[i][0]:\n        if i[1]!=stu[i][1]\n'

In [618]:
#print(l1[1][:][:])
x=l1[1]
print(len(l1[2]))

1

In [621]:
l1

[[[10.0, 'abc']],
 [[20.0, 'ab'], [20.0, 'av']],
 [[30.0, 'cd']],
 [[40.0, 'cdc']],
 []]

In [625]:
l1.remove([])

In [626]:
l1

[[[10.0, 'abc']],
 [[20.0, 'ab'], [20.0, 'av']],
 [[30.0, 'cd']],
 [[40.0, 'cdc']]]

In [575]:
l1[2][2][1]

IndexError: list index out of range

In [531]:
stu.insert(2,[3,"abc"])

In [532]:
stu

[[20.0, 'jkbd'], [30.0, 'jb'], [3, 'abc'], [30.0, 'sk'], [4, 'abc']]

In [547]:
# import pandas
import pandas as pd

# create dataframe
df = pd.DataFrame({'Col_1': ['a', 'b', 'c', 'b', 'a', 'd'],'Col_2': [1, 2, 3, 3, 2, 1]})

# print original dataframe
print("original dataframe:")
display(df)


# call groupby method.
df = df.groupby("Col_1")
print("groupby Col_1",df)

# call agg method
#df = df.agg({"Col_2": "nunique"}).reset_index()
#print("agg Col_2",df)

# print dataframe
print("final dataframe:")
display(list(df))

original dataframe:

  Col_1  Col_2
0     a      1
1     b      2
2     c      3
3     b      3
4     a      2
5     d      1

groupby Col_1 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002289A9977C0>
final dataframe:

[('a',
    Col_1  Col_2
  0     a      1
  4     a      2),
 ('b',
    Col_1  Col_2
  1     b      2
  3     b      3),
 ('c',
    Col_1  Col_2
  2     c      3),
 ('d',
    Col_1  Col_2
  5     d      1)]

In [ ]:
n=int(input())
s=[]
s=list(map(int, input().split(" ")[0:5]))
s=set(s)
N=int(input())  

i=0
while i<N:
    l1=input().split(" ")[0:2]
    if l1[0].lower()=="pop":
        s.pop()
    elif l1[0].lower()=="remove":
       s.remove(int(l1[1])) 
    elif l1[0].lower()=="discard":
        s.discard(int(l1[1]))

    i=i+1
print(sum(s))

In [672]:
n=int(input())
s=[]
s=list(map(int, input().split(" ")))
s=set(s)
N=int(input())  

i=0
#print(s)
while i<N:
    l1=input().split(" ")
    if l1[0].lower()=="pop":
        s.pop()
    elif l1[0].lower()=="remove":
        l2=int(l1[1])
        s.remove(l2) 
    elif l1[0].lower()=="discard":
        l2=int(l1[1])
        s.discard(l2)
    i=i+1
sum=0
for i in s:
    sum=sum+i
print(sum)

9
1 2 3 4 5 6 7 8 9
10
{1, 2, 3, 4, 5, 6, 7, 8, 9}
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [651]:
s1=list(s)

In [664]:
s2=[2,3,4,5]
type(s2[0])

int

In [669]:
sum=0
sum=[sum+i for i in s2]
sum

[2, 3, 4, 5]

In [675]:
a=(1,2,3)

In [679]:
a=set(map(int, input().split()))
n=int(input())
ls=[]
for i in range(n):
    ls.append(set(map(int, input().split())))
c=0
for i in ls:
    if a.issuperset(i):
        #print("y")
    else:
        #print("No")
        c=c+1
if c==0:
    print("True")
else:
    print("False")

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
y
No

In [680]:
a.issuperset(ls[0])

True

In [ ]:
1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12

In [681]:
a = '50'
b = '40'
print(int(b + a))

4050

In [ ]:
def merge_the_tools(string, k):
    # your code goes here
    string=list(string)
    l1=[]
    c=0
    d=k
    for i in range(int(len(string)/k)):
        l1.append(char_set(string[c:d]))
        if d+1==len(string):
            break
        c=d
        d=d+k
    for i in l1:
        #print("i ",i)
        for j in i:
            print(j,end="")
        print() 
    
def char_set(s2):
    mylist = list(s2)
    mylist = list(dict.fromkeys(mylist))
    #print(mylist)        
    return mylist
        
if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

In [ ]:
STDIN       Function
-----       --------
AABCAAADA   s = 'AABCAAADA'
3           k = 3

In [73]:
char_set("AABCAAADA")

TypeError: 'str' object cannot be interpreted as an integer

In [74]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [38]:
s2

['a', 'a', 'a', 'b', 'c', 'd', 'e', 'e', 'e', 'f', 'g', 'h']

In [84]:
def merge_the_tools(string, k):
    # your code goes here
    string=list(string)
    l1=[]
    c=0
    d=k
    for i in range(int(len(string)/k)):
        l1.append(char_set(string[c:d]))
        c=d
        d=d+k
    for i in l1:
        for j in i:
            print(j,end="")
        print() 
    
def char_set(s2):
    mylist = list(s2)
    mylist = list(dict.fromkeys(mylist))
    #print(mylist)        
    return mylist
        
if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

AABCAAADAA
2
A
BC
A
AD
A

In [36]:
import math

ab=float(input())
bc=float(input())
ac=math.sqrt(ab*ab+bc*bc)

#c^2 = a^2 + b^2 - 2(a)(b)(cos beta)

#beta = acos( ( a^2 + b^2 - c^2 ) / (2ab) )

"""
    # From Cosine law
    alpha = math.acos((b2 + c2 - a2) /
                         (2 * b * c));
    betta = math.acos((a2 + c2 - b2) /
                         (2 * a * c));
    gamma = math.acos((a2 + b2 - c2) /
                         (2 * a * b));
 
"""

#beta = math.acos(abs(ab**2 + bc**2 - ac**2 ) / (2*ab*bc))
alpha = math.acos(abs(ab**2 + ac**2 - bc**2 ) / (2*ab*ac))

#print("ac ", ac)
#beta_angle=beta*180/math.pi
alpha_angle=alpha*180/math.pi
mbc_angle=90-round(alpha_angle)

#print("mbc_angle angle", mbc_angle)
theta = round(mbc_angle)
print(f"{theta}\N{DEGREE SIGN}")
#print("beta ", beta)

100
1
89°

In [25]:
import math

ab=float(input())
bc=float(input())
ac=math.sqrt(ab*ab+bc*bc)
bm=ac/2
cm=ac/2
#c^2 = a^2 + b^2 - 2(a)(b)(cos beta)

#beta = acos( ( a^2 + b^2 - c^2 ) / (2ab) )

"""
    # From Cosine law
    alpha = math.acos((b2 + c2 - a2) /
                         (2 * b * c));
    betta = math.acos((a2 + c2 - b2) /
                         (2 * a * c));
    gamma = math.acos((a2 + b2 - c2) /
                         (2 * a * b));
 
"""
#beta = math.acos(( ab**2 - bc**2 + ac**2 )/2*ab*bc)
beta = math.acos(( bm**2 + bc**2 - cm**2 )/2*bm*bc)
#print("ac ", ac)
beta_angle=(beta/2)*180/math.pi
#print("beta ", beta)
#print("gama angle", round(beta_angle/2))
#print(round(beta_angle))
theta = round(beta_angle)
print(f"{theta}\N{DEGREE SIGN}")

3
4

ValueError: math domain error

In [153]:
print (sind(beta_angle))

0.7071067811870501

AttributeError: module 'math' has no attribute 'Cos'

In [152]:
import math

def sind(x):
    return math.sin(math.radians(x))

def cosd(x):
    return math.cos(math.radians(x))

In [1]:
theta = 45
print(f"Theta {theta}\N{DEGREE SIGN}.")

Theta 45°.

In [39]:
N=int(input())
s1=0
for i in range(N-1):
    s1=s1*10+1
    print(s1*(i+1))

8
1
22
333
4444
55555
666666
7777777

In [ ]:
""" 1
    121
    12321   range(1,9)[]
  1234321
  123454321
12345654321

0*10**i+1        sum=i*10+sum

s=s+0*10*i
 =1*
300+21    121000
1
1210+21=12321
123210+321
            0+ 0*20 +1  = 1
            100+20 +1  = 121
12321  12100+220 + 1  =     12321
            1232100+2220 + 1  = 1234321
        123432100+22220 + 1  =  123454321
d=0, s=0, c=0
t=d
d=d+c*d*10 
c=1, 10, 100
c=c*10**i
s=s*100+d+1
for i in range(5):
    if i==1:
        d=2
    d=d+c*2
    s=s*100+d+1
        
10100
s=0

0*10**1+1 = 1
1*10**2+1+ 2*10+1 = 121
121*10**3+ +3*100+2*10+1 = 
12321*100+12321

"""

N=int(input())
s1=0
for i in range(N-1):
    s1=s1*20+s1*100+1
    print(s1*(i+1))

In [49]:
d, s=0,0

for i in range(5):
    if i==0:
        d=0
    else:
        d=d+2*10**i
    s=s*100+d+1
    print(s)

1
121
12321
1234321
123454321

In [58]:
N,s1=int(input()),[1,121, 12321, 1234321, 123454321, 12345654321, 1234567654321, 123456787654321 , 12345678987654321]
[print(s1[i]) for i in range(N)]

7
1
121
12321
1234321
123454321
12345654321
1234567654321

[None, None, None, None, None, None, None]

In [59]:
len(s1)

9

In [63]:
complex(-1.0, 0.0)

(-1+0j)

In [78]:
import cmath
round(cmath.phase(complex(-1.0, 0.0)), 3)

3.142

In [65]:
abs(complex(-1.0, 0.0))

1.0

In [ ]:
r=float(input())
shi==float(input())

In [83]:
import cmath
com=input()
#r=float(input())
#phi==float(input())
#print(abs(complex(-1.0, 0.0)))

x=cmath.polar(complex(com))
for i in x:
    print(round(i,3))

1+4j
4.123
1.326

In [ ]:
cmath.polar(x)

polar(x) 
(abs(x), phase(x))   # (r, phi)

cmath.polar(1+2j)

In [90]:
n,m = input().split()
n=int(n)
m=int(m)
a=[]
b=[]

for i in range(n):
    a.append(input())
    
for j in range(m):
    b.append(input())
aset=set(a)
bset=set(b)
for j in b:
    for i in range(len(a)):
        if a[i]==j:
            print(i+1, end=' ')
    print()

1 1
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxx
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxx

In [91]:
from collections import defaultdict
d = defaultdict(list)

n,m = input().split()
n=int(n)
m=int(m)
a=[]
b=[]

for i in range(n):
    a.append(input())
    
for j in range(m):
    b.append(input())
aset=set(a)
bset=set(b)

for j in b:
    for i in range(len(a)):
        if a[i]==j:
            print(i+1, end=' ')
    if j in a:
        pass
    else:
        print(-1)
    print()

1 1
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxx
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxx
-1

In [ ]:
1 1
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxx
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxx

In [ ]:
1 2
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxx
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxx
abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcbaxxxxxxxxxxy

In [93]:
from collections import defaultdict
d = defaultdict(list)
d['python'].append("awesome")
d['something-else'].append("not relevant")
d['python'].append("language")
print(d)
for i in d.items():
    print(i)

defaultdict(<class 'list'>, {'python': ['awesome', 'language'], 'something-else': ['not relevant']})
('python', ['awesome', 'language'])
('something-else', ['not relevant'])

In [117]:
from collections import defaultdict
d = defaultdict(list)

n,m = input().split()
n=int(n)
m=int(m)
a=defaultdict(list)
b=defaultdict(list)

for i in range(n):
    a[i]=input()
    
for j in range(m):
    b[j]=input()
#aset=set(a)
#bset=set(b)

for j in range(m):        #range(len(b.items())):
    for i in range(n):    #range(len(a.items())):
    if b[j] in a.values():
        if a[i]==b[j]:
            print(i+1, end=' ')
    else:
        print(-1)
    print()

5 2
a
a
b
a
b
a
b
1 2 4
3 5

In [ ]:
1 1
s
t

In [115]:
b.values()

dict_values(['t'])

In [113]:
for j in b.items():        #range(m):
    print(j)

(0, ['t'])

In [116]:
b.items()

dict_items([(0, 't')])

In [125]:
from collections import defaultdict
#d = defaultdict(list)

n,m = map(int, input().split())

a=defaultdict(list)
b=[]

for i in range(n):
    a[i]=input()
for j in range(m):
    b.append(input())
for j in range(m):       
    for i in range(n):    
        if b[j] not in a.values():
            print(-1)
        else:
            if a[i]==b[j]:
                print(i+1, end=' ')
    print()

5 2
a
a
b
a
b
a
b
1 2 4
3 5

In [139]:
from collections import defaultdict
#d = defaultdict(list)

n,m = map(int, input().split())

a=([input() for i in range(n)])
b=([input() for i in range(m)])
for j in range(m):       
    for i in range(n):    
        if b[j] not in a:
            print(-1)
        else:
            if a[i]==b[j]:
                print(i+1, end=' ')
    print()

5 2
a
a
b
a
b
a
b
1 2 4 3 5

In [129]:
a=defaultdict(list)
a=([input() for i in range(5)])

a
s
f
sf
d

In [133]:
a

['a', 's', 'f', 'sf', 'd']

In [134]:
a.items()

AttributeError: 'list' object has no attribute 'items'

In [ ]:
n,m = map(int, input().split())

a=([input() for i in range(n)])
b=""
for j in range(m):
    b=input()       
    for i in range(n):    
        if b not in a:
            print(-1)
        else:
            if a[i]==b:
                print(i+1, end=' ')
    print()

In [142]:
pip install cython

Requirement already satisfied: cython in c:\users\sub13\anaconda3\lib\site-packages (0.29.28)
Note: you may need to restart the kernel to use updated packages.

In [162]:
import numpy as np
cimport numpy as np

def get_primes_cython(int n):
    cdef:
        np.ndarray[np.int32_t, ndim=1] primes = np.zeros(n, dtype=np.int32)
        int i = 0;
        int last_prime = 2;
        int candidate = 1;
        int is_ok = 1;
    
    while (i<n):
        candidate += 1;
        is_ok = 1;
        
        for c in range(i):
            if candidate % primes[c] == 0:
                is_ok = 0;
                break;

        if is_ok == 1:
            primes[i] = candidate;
            i += 1;
    
    return primes

SyntaxError: invalid syntax (1187166983.py, line 2)

In [164]:
!pip install cython

Requirement already satisfied: cython in c:\users\sub13\anaconda3\lib\site-packages (0.29.28)

In [17]:
from collections import namedtuple
Point = namedtuple('Point','x,y')
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
print (dot_product)

11

In [19]:
from collections import namedtuple
Car = namedtuple('Car','Price Mileage Colour Class')
xyz = Car(Price = 100000, Mileage = 30, Colour = 'Cyan', Class = 'Y')
print(xyz)
Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
print (xyz.Class)

Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
Y

In [75]:
from collections import namedtuple
n=int(input())
#names = namedtuple('ids', 'marks', 'name', 'clas')
names = namedtuple('names',input().split())
nam=[]
s=0
for i in range(n):
    k=input().split()
    nam.append(names(*k))
    s=s+int(nam[i].marks)
avg=s/n
print(round(avg, 2))

2
ids name clas marks
1 ab 1 80
2 cd 2 90
85.0

In [33]:
from collections import namedtuple
n=int(input())
#names = namedtuple('ids', 'marks', 'name', 'clas')
names = namedtuple('name',input().split())

3
ab cd ef

In [34]:
n1=names(5, 7,9)

In [69]:
n1

name(ab=5, cd=7, ef=9)

In [59]:
n1=names(input().split())

45 78 6

TypeError: <lambda>() missing 2 required positional arguments: 'cd' and 'ef'

In [60]:
k=input().split()

56 78 89

In [53]:
type(k)

tuple

In [36]:
nam=[]

In [71]:
k=input().split()
nam.append(names(*k))

KeyboardInterrupt: Interrupted by user

In [70]:
nam[]

SyntaxError: invalid syntax (1477999240.py, line 1)

In [41]:
nam[0].ab

1

In [44]:
a=(6,7)

In [45]:
type(a)

tuple

In [78]:
from collections import namedtuple
n=int(input())
na=input().split()
#names = namedtuple('ids', 'marks', 'name', 'clas')
names = namedtuple('names',na)
nam=[]
s=0
for i in range(n):
    k=input().split()
    nam.append(names(*k))
    s=s+int(nam[i].MARKS)
avg=s/n
print(round(avg, 2))

5
MARKS CLASS NAME ID
92 2 Calum 1
82 5 Scott 2
94 2 Jason 3
55 8 Glenn 4
82 2 Fergus 5
81.0

In [ ]:
5
MARKS CLASS NAME ID        
92 2 Calum 1
82 5 Scott 2         
94 2 Jason 3         
55 8 Glenn 4         
82 2 Fergus 5

In [79]:

# import time module
import time
 
# create sample code for testing
for j in range(100, 5501, 100):
    # store iteration start timestamp
    start = time.time()
    a = 0
    for i in range(j):
        a += (i**100)
    # store iteration end timestamp
    end = time.time()
 
    # show time of execution per iteration
    print(f"Iteration: {j}\tTime taken: {(end-start)*10**3:.03f}ms")

Iteration: 100	Time taken: 0.000ms
Iteration: 200	Time taken: 0.000ms
Iteration: 300	Time taken: 1.000ms
Iteration: 400	Time taken: 0.000ms
Iteration: 500	Time taken: 0.000ms
Iteration: 600	Time taken: 0.000ms
Iteration: 700	Time taken: 0.000ms
Iteration: 800	Time taken: 1.014ms
Iteration: 900	Time taken: 0.000ms
Iteration: 1000	Time taken: 0.997ms
Iteration: 1100	Time taken: 1.000ms
Iteration: 1200	Time taken: 0.398ms
Iteration: 1300	Time taken: 1.066ms
Iteration: 1400	Time taken: 0.000ms
Iteration: 1500	Time taken: 2.369ms
Iteration: 1600	Time taken: 1.217ms
Iteration: 1700	Time taken: 0.998ms
Iteration: 1800	Time taken: 2.002ms
Iteration: 1900	Time taken: 0.998ms
Iteration: 2000	Time taken: 1.225ms
Iteration: 2100	Time taken: 1.445ms
Iteration: 2200	Time taken: 2.000ms
Iteration: 2300	Time taken: 2.001ms
Iteration: 2400	Time taken: 2.002ms
Iteration: 2500	Time taken: 1.997ms
Iteration: 2600	Time taken: 1.999ms
Iteration: 2700	Time taken: 2.000ms
Iteration: 2800	Time taken: 2.223ms
Iteration: 2900	Time taken: 2.000ms
Iteration: 3000	Time taken: 1.999ms
Iteration: 3100	Time taken: 2.000ms
Iteration: 3200	Time taken: 2.000ms
Iteration: 3300	Time taken: 2.996ms
Iteration: 3400	Time taken: 3.000ms
Iteration: 3500	Time taken: 2.659ms
Iteration: 3600	Time taken: 2.000ms
Iteration: 3700	Time taken: 2.026ms
Iteration: 3800	Time taken: 3.001ms
Iteration: 3900	Time taken: 4.226ms
Iteration: 4000	Time taken: 2.525ms
Iteration: 4100	Time taken: 2.999ms
Iteration: 4200	Time taken: 2.997ms
Iteration: 4300	Time taken: 4.001ms
Iteration: 4400	Time taken: 3.816ms
Iteration: 4500	Time taken: 4.000ms
Iteration: 4600	Time taken: 2.998ms
Iteration: 4700	Time taken: 5.000ms
Iteration: 4800	Time taken: 4.004ms
Iteration: 4900	Time taken: 3.999ms
Iteration: 5000	Time taken: 4.001ms
Iteration: 5100	Time taken: 3.791ms
Iteration: 5200	Time taken: 4.621ms
Iteration: 5300	Time taken: 3.514ms
Iteration: 5400	Time taken: 4.001ms
Iteration: 5500	Time taken: 4.276ms

In [85]:
import time
start = time.time()
n,m = map(int, input().split())

a=([input() for i in range(n)])
b=([input() for i in range(m)])
for j in range(m):     
    for i in range(n):    
        if b[j] not in a:
            print(-1)
        else:
            if a[i]==b[j]:
                print(i+1, end=' ')
    print()
end = time.time()
 
# show time of execution per iteration
print(f"Iteration: {j}\tTime taken: {(end-start)*10**3:.03f}ms")

5 2
a
a
b
a
b
a
b
1 2 4
3 5
Iteration: 1	Time taken: 11916.900ms

In [118]:
from collections import OrderedDict

ordinary_dictionary = {}
ordinary_dictionary['a'] = 1
ordinary_dictionary['b'] = 2
ordinary_dictionary['c'] = 3
ordinary_dictionary['d'] = 4
ordinary_dictionary['e'] = 5

print (ordinary_dictionary)
#{'a': 1, 'c': 3, 'b': 2, 'e': 5, 'd': 4}

ordered_dictionary = OrderedDict()
ordered_dictionary['a'] = 1
ordered_dictionary['b'] = 2
ordered_dictionary['c'] = 3
ordered_dictionary['d'] = 4
ordered_dictionary['e'] = 5
ordered_dictionary['a'] = 10

print (ordered_dictionary)
#OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
OrderedDict([('a', 10), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [ ]:
BANANA FRIES 12
POTATO CHIPS 60
APPLE JUICE 20
CANDY 20

In [169]:
from collections import OrderedDict
n=int(input())
d=OrderedDict()
l=['BANANA FRIES','POTATO CHIPS','APPLE JUICE','CANDY']
d['BANANA FRIES']=0
d['POTATO CHIPS']= 0
d['APPLE JUICE']= 0
d['CANDY']=0
for i in range(n):
    s=input().split()
    name=''
    for i in s[:len(s)-1]:
        name=name+' '+i
        name=name.strip()
    price=int(s[len(s)-1])
    d[name]=(d[name]+price)
    name=''

for i in l:     
    print(i,d[i])

3
BANANA FRIES 12
BANANA FRIES 1000
POTATO CHIPS 70
BANANA FRIES 1012
POTATO CHIPS 70
APPLE JUICE 0
CANDY 0

In [152]:
name.strip()

'POTATO CHIPS'

In [158]:
d.items()

odict_items([('BANANA FRIES', 122), ('POTATO CHIPS', 0), ('APPLE JUICE', 0), ('CANDY', 0)])

In [173]:
for i in d.keys():
    if 'CHIPS' not in d.keys():
        print(i, d[i])
    else:
        print("y")

BANANA FRIES 1012
POTATO CHIPS 70
APPLE JUICE 0
CANDY 0

In [175]:
from collections import OrderedDict
n=int(input())
d=OrderedDict()

for i in range(n):
    s=input().split()
    name=''
    for i in s[:len(s)-1]:
        name=name+' '+i
        name=name.strip()
    if name not in d.keys():
        d[name]=0
    #print(name)
    price=int(s[len(s)-1])
    d[name]=(d[name]+price)
    #print(d)
    
#print(d.items())
for i in d.keys():     
    print(i,d[i])

4
BANANA FRIES 12
APPLE JUICE 10
APPLE JUICE 10
abv 80
BANANA FRIES 12
APPLE JUICE 20
abv 80

In [153]:
9
BANANA FRIES 12
POTATO CHIPS 30
APPLE JUICE 10
CANDY 5
APPLE JUICE 10
CANDY 5
CANDY 5
CANDY 5
POTATO CHIPS 30

SyntaxError: invalid syntax (4261870822.py, line 2)

In [131]:
d={}
item_name=['a', 'b', 'c', 'a']
net_price=[10, 45, 56, 20]

In [143]:
name=''
for i in item_name[:len(s)-1]:
    name=name+i

In [144]:
name

'ab'

In [137]:
item_name[2:4]

['c', 'a']

In [106]:
d.keys()=item_name
d.values()=net_price

SyntaxError: cannot assign to function call (382711687.py, line 1)

In [ ]:
dictionary = dict(zip(names, ages))
print(dictionary)

In [109]:
d=dict(zip(item_name,net_price))

In [132]:
d1=OrderedDict(zip(item_name,net_price))

In [133]:
d1

OrderedDict([('a', 20), ('b', 45), ('c', 56)])

In [179]:
d.keys()

odict_keys(['BANANA FRIES', 'APPLE JUICE', 'abv'])

In [135]:
d1['a']

20

In [178]:
c=0
if word in list:
    c=c+1

NameError: name 'word' is not defined

In [183]:
from collections import OrderedDict
n=int(input())
d=OrderedDict()

for i in range(n):
    name=input()
    name=name.strip()
    if name not in d.keys():
        d[name]=0
    d[name]=(d[name]+1)
    
#print(d.items())
# count of distinct words
print(len(d.keys()))
# count of each distinct word

for i in d.keys():
    print(d[i], end=' ')

4
abc
bcd
abc
defh
3
2 1 1

In [ ]:
4
bcdef
abcdefg
bcde
bcdef

In [184]:
from collections import deque
d = deque()
d.append(1)
print(d)
deque([1])
d.appendleft(2)
print(d)
deque([2, 1])
d.clear()
print(d)
deque([])
d.extend('1')
print(d)
deque(['1'])
d.extendleft('234')
print(d)
deque(['4', '3', '2', '1'])
d.count('1')
#1
d.pop()
#'1'
print (d)
deque(['4', '3', '2'])
d.popleft()
#'4'
print(d)
deque(['3', '2'])
d.extend('7896')
print(d)
deque(['3', '2', '7', '8', '9', '6'])
d.remove('2')
print(d)
deque(['3', '7', '8', '9', '6'])
d.reverse()
print(d)
deque(['6', '9', '8', '7', '3'])
d.rotate(3)
print(d)
deque(['8', '7', '3', '6', '9'])

deque([1])
deque([2, 1])
deque([])
deque(['1'])
deque(['4', '3', '2', '1'])
deque(['4', '3', '2'])
deque(['3', '2'])
deque(['3', '2', '7', '8', '9', '6'])
deque(['3', '7', '8', '9', '6'])
deque(['6', '9', '8', '7', '3'])
deque(['8', '7', '3', '6', '9'])

deque(['8', '7', '3', '6', '9'])

In [1]:
pip install collections

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement collections (from versions: none)
ERROR: No matching distribution found for collections

In [2]:
from collections import deque
n=int(input())
d = deque()
s=[]
for i in range(n):
    s=input().split()
    if s[0].lower()=='append':
        d.append(s[1])
    elif s[0].lower()=='appendleft':
        d.appendleft(s[1])
    elif s[0].lower()=='pop':
        d.pop()
    elif s[0].lower()=='popleft':
        d.popleft()
for i in d:
    print(i, end=' ')

6
append 2
append 1
append 3
appendleft 4
pop

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
6
append 1
append 2
append 3
appendleft 4
pop
popleft

In [ ]:
from collections import deque
t=int(input())
for i in range(t):
    n1=int(input())
    sideLengths=list(map(int, input().split()[:n1]))
    for j in range(n1):

In [121]:
from collections import OrderedDict
n=int(input())
d=OrderedDict()

for i in range(n):
    name=input()
    name=name.strip()
    if name not in d.keys():
        d[name]=0
    d[name]=(d[name]+1)
    
#print(d.items())
# count of distinct words
print(len(d.keys()))
# count of each distinct word

for i in d.keys():
    print(d[i], end=' ')

4
gfghfyghokhghj
jfgj
oihh
iygh
4
1 1 1 1

In [29]:
from collections import OrderedDict
n=int(input())
d=dict()
name=input()
name=name.strip()
name=list(name)
print(name)

for i in range(len(name)):
    if name[i] not in d.keys():
        d[name[i]]=0
    d[name[i]]=(d[name[i]]+1)
    
# print(d.items())
# count of distinct words
print(len(d.keys()))
# count of each distinct word
l1=list(d.values())
print(l)
#l.sort()
print(l)
print(d)
l2=list(d.keys())
d1={}
d1=OrderedDict(zip(l1,l2))
print("D1 dict",d1)
#d[i]
max1=max([d[i] for i in d.keys()])
for i in d.keys():
    print(d[i], end=' ')

4
khjagaghagsuuuuejdjdjjjaaaa
['k', 'h', 'j', 'a', 'g', 'a', 'g', 'h', 'a', 'g', 's', 'u', 'u', 'u', 'u', 'e', 'j', 'd', 'j', 'd', 'j', 'j', 'j', 'a', 'a', 'a', 'a']
9
[1, 1, 1, 3, 4, 4]
[1, 1, 1, 3, 4, 4]
{'k': 1, 'h': 2, 'j': 6, 'a': 7, 'g': 3, 's': 1, 'u': 4, 'e': 1, 'd': 2}
D1 dict OrderedDict([(1, 'e'), (2, 'd'), (6, 'j'), (7, 'a'), (3, 'g'), (4, 'u')])
1 2 6 7 3 1 4 1 2

In [30]:
d

{'k': 1, 'h': 2, 'j': 6, 'a': 7, 'g': 3, 's': 1, 'u': 4, 'e': 1, 'd': 2}

In [14]:
max1=max([d[i] for i in d.keys()])

In [125]:
from collections import OrderedDict
d=OrderedDict()
name=input()
name=name.strip()
name=list(name)
#print(name)

for i in range(len(name)):
    if name[i] not in d.keys():
        d[name[i]]=0
    d[name[i]]=(d[name[i]]+1)
d2=d
l=list(d.keys())
#print(l)

length=len(l)
max1=[]
d3=dict()
for j in range(len(l)):
    max1.append(max([d2[i] for i in d2.keys()]))
    for i in d2.keys():
        if d2[i]==max1[j]:
            d3[i]=d2[i]
            d2.pop(i)
            #print(d2)
            break
#print(d3)
l3=d3.keys()
l3=list(l3)
#l3.sort()
#print(l3)

for k in range(3):
    print(l3[k],d3[l3[k]])

aakjnbkhgb,knbbbbb
b 7
k 3
a 2

In [113]:
d3

{'d': 4, 'k': 4, 'z': 3, 'g': 2, 'f': 1, 'h': 1, 'u': 1}

In [119]:
if __name__ == '__main__':
    s = input()
    
    d=OrderedDict()
    name=s
    name=name.strip()
    name=list(name)
    #print(name)

    for i in range(len(name)):
        if name[i] not in d.keys():
            d[name[i]]=0
        d[name[i]]=(d[name[i]]+1)
    d2=d
    d2=list(d2)
    d2.sort()
    #d2=dict(d2)
    max1=[]
    d3=dict
    for j in range(len(d)):
        max1.append(max([d2[i] for i in d2.keys()]))
        for i in d2.keys():
            if d2[i][1]==max1[j]:
                d3[i]=d2[i]
                d2.remove(i)
                #print(d2)
                break
            
        #print(max1[j])
    print(max1)
    for k in range(3):
        print(d3[k][0],d5[k][1])    
        
"""       

    print("d3 without sort",d3)
    l3=d3.keys()
    l3=list(l3)
    d4=set()
    for i in range(len(l3)):
        d4
    d4=set(d3.items())
    print("d4    ",d4)
    d5=list(d4)
    d5.sort()
    d5=dict(d5)
    print("d5    ",d5)
    max2=[]
    for j in range(3):
        max2.append(if max([d5[i] for i in d5.keys()]))
        for i in d5.keys():
            if d5[i]==max2[j]:
                d3[i]=d2[i]
                d5.pop(i)
                #print(d2)
                break    
    
    for k in range(3):
        print(d5[k][0],d5[k][1])
"""


"""
    for i in range(len(l3)):
        d
    for i in range(len(l3)):
        if d3[l3[0]]!=d3[l3[1]] and d3[l3[1]]!=d3[l3[2]]:
            for k in range(3):
                print(l3[k],d3[l3[k]])
                
        elif d3[l3[0]]==d3[l3[1]] and d3[l3[1]]!=d3[l3[2]]: 
            l4=[l3[0], l3[1]]
            l4.sort()
            l4.append(l3[2])
        elif d3[0]==d3[1] and d3[1]==d3[2] and d3[2]!=d3[3] and d3[3]==d3[len(d3)]: 
            l4=[l3[0], l3[1],l3[2],l3[3]]
            #l4=l3
            l4.sort()
        elif d3[0]==d3[1] and d3[1]==d3[2] and d3[2]!=d3[3]: and d3[3]==d3[len(d3)]: 
            l4=[l3[0], l3[1],l3[2],l3[3]]
            l4.sort()
            
        print(i,d3[i])
        
        
"""

hfjhjkbjhxdfx

AttributeError: 'list' object has no attribute 'keys'

In [89]:
first_names = set()
last_names = set()

for details in people.values():
     first_names.add(details['first'])
     last_names.add(details['last'])

NameError: name 'people' is not defined

In [97]:
s,i,j=2,14,2
l=[i,j]

In [98]:
l={('s',i), ('a',j), ('b',s)}

In [99]:
l

{('a', 2), ('b', 2), ('s', 14)}

In [92]:
type(l)

set

In [51]:
l3=d3.keys()
l3=list(l3)
l3=l3.sort()
print(l3)
counter=0
for k in range(len(l3)):
    print(l3[k],d3[l3[k]])
    counter=counter+1
    if counter==2:
        break

None

TypeError: object of type 'NoneType' has no len()

In [15]:
max1

5

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [127]:
if __name__ == '__main__':
    s = input()
    
    d=OrderedDict()
    name=s
    name=name.strip()
    
    name=list(name)
    name.sort()
    #print(name)

    for i in range(len(name)):
        if name[i] not in d.keys():
            d[name[i]]=0
        d[name[i]]=(d[name[i]]+1)
    d2=d
    l=list(d.keys())
    #print(l)

    length=len(l)
    max1=[]
    d3=dict()
    for j in range(len(l)):
        max1.append(max([d2[i] for i in d2.keys()]))
        for i in d2.keys():
            if d2[i]==max1[j]:
                d3[i]=d2[i]
                d2.pop(i)
                #print(d2)
                break
    #print(d3)
    l3=d3.keys()
    l3=list(l3)
    #l3.sort()
    #print(l3)

    for k in range(3):
        print(l3[k],d3[l3[k]])

qwertyuiopasdfghjklzxcvbnm
a 1
b 1
c 1

In [ ]:
qwertyuiopasdfghjklzxcvbnm
a 1
b 1
c 1