In [1]:
l=[1,3,4,5,5]

In [2]:
for i in l:
    print(i)

1
3
4
5
5

In [3]:
next(l)

TypeError: 'list' object is not an iterator

In [4]:
b= iter(l)

In [5]:
next(b)

1

In [6]:
next(b)

3

In [7]:
next(b)

4

In [8]:
next(b)

5

In [9]:
next(b)

5

In [10]:
next(b)

StopIteration:

In [12]:
next(45)

TypeError: 'int' object is not an iterator

In [13]:
iter(45)

TypeError: 'int' object is not iterable

In [11]:
l

[1, 3, 4, 5, 5]

In [14]:
b

In [16]:
for i in l:       
    print(i)          #iter()-->next()

1
3
4
5
5

In [17]:
s="Sudh"

In [18]:
next(s)

TypeError: 'str' object is not an iterator

In [20]:
s=iter(s)

In [21]:
next(s)

'S'

In [22]:
next(s)

'u'

In [23]:
next(s)

'd'

In [24]:
next(s)

'h'

In [25]:
next(s)

StopIteration:

In [26]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [29]:
t=(5,6,7,8,8)

In [30]:
next(t)

TypeError: 'tuple' object is not an iterator

In [31]:
t=iter(t)

In [32]:
next(t)

5

In [33]:
next(t)

6

In [34]:
next(t)

7

In [35]:
next(t)

8

In [36]:
next(t)

8

In [37]:
next(t)

StopIteration:

In [38]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
x=lambda a:[i*i for i in range(a)]

In [40]:
x(5)

[0, 1, 4, 9, 16]

In [43]:
def square_fun(n):
    x=[i*i for i in range(n)]
    return x

In [44]:
square_fun(8)

[0, 1, 4, 9, 16, 25, 36, 49]

In [41]:
range(5)

range(0, 5)

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

In [45]:
def square_fun1(n):
    x=[i*i for i in range(n)]
    yield x         #to make generator function yield keyword is used

In [46]:
square_fun1(7)

In [47]:
for i in square_fun1(4):
    print(i)

[0, 1, 4, 9]

In [48]:
for i in range(4):
    print(i)

0
1
2
3

In [49]:
next(square_fun1(4))

[0, 1, 4, 9]

In [50]:
next(range(4))

TypeError: 'range' object is not an iterator

In [51]:
r=iter(range(4))

In [52]:
next(r)

0

In [53]:
next(r)

1

In [54]:
next(r)

2

In [55]:
next(r)

3

In [56]:
next(r)

StopIteration:

In [2]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [3]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
genfib(1000)   # Using in this big number mostly hang the computer by
                # by utilising cpu and all resources

In [6]:
def genfib1(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [7]:
genfib1(8)

In [8]:
genfib1(10000000)     # this is big but do not hang the computer by
                    # utilising cpu and all resources

## File Handling

In [9]:
f= open("file1.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'file1.txt'

In [10]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 9497-4DE2

 Directory of C:\Users\sub13\Downloads

20-08-2022  23:49         2,877,860 #1 Core Python Material.pdf
20-08-2022  23:49         2,665,918 #2 Advanced Python Material.pdf
06-09-2022  19:41    <DIR>          .
06-09-2022  19:27    <DIR>          ..
06-09-2022  16:43    <DIR>          .ipynb_checkpoints
29-08-2022  03:35           246,012 17th.pdf
01-09-2022  00:21         7,290,387 19.2.MySQL.7z
01-09-2022  00:22           297,503 22.Food App-20220831T185208Z-001.zip
01-09-2022  00:22           519,491 24.Weather App-20220831T185226Z-001.zip
01-09-2022  00:22         5,300,184 25.MemesGenerator App-20220831T185238Z-001.zip
01-09-2022  00:23            25,477 4.Control Flow.ipynb
01-09-2022  00:21         1,087,591 Advanced-House-Price-Prediction--master.zip
19-08-2022  16:38       622,731,992 Anaconda3-2022.05-Windows-x86_64.exe
24-08-2022  23:28        40,202,240 apache-zookeeper-3.8.0-bin.tar
24-08-2022  23:28        13,185,104 apache-zookeeper-3.8.0-bin.tar.gz
03-09-2022  23:31         7,548,686 archive.zip
29-08-2022  12:50            10,389 assertion.png
01-09-2022  00:21       100,703,673 AutoViz_Library_Shivan.zip
29-08-2022  14:14    <DIR>          basket-2022-08-01_v_4031100
29-08-2022  14:10        62,488,881 basket-2022-08-01_v_4031100 (1).zip
29-08-2022  14:11        62,488,881 basket-2022-08-01_v_4031100 (2).zip
29-08-2022  14:12        62,488,881 basket-2022-08-01_v_4031100 (3).zip
29-08-2022  14:09        62,488,881 basket-2022-08-01_v_4031100.zip
29-08-2022  03:17            83,944 Basketball Match Analysts. Training plan.xlsx
22-08-2022  23:01            44,309 conditional statement - if , elif, else.ipynb
25-08-2022  22:30               861 connect to sql server in python.zip
18-08-2022  17:58             7,513 Cover Letter.docx
19-08-2022  09:27            15,380 CV-Subodh Bharti new2.docx
19-08-2022  09:27           131,980 CV-Subodh Bharti new2.pdf
01-09-2022  19:47    <DIR>          DataAnalysisProjects-master
01-09-2022  19:46         9,767,946 DataAnalysisProjects-master.zip
29-08-2022  22:53                15 demo_file
01-09-2022  15:28           376,754 Document Tagging.pdf
01-09-2022  22:27                25 dummy table.sql
04-09-2022  01:04    <DIR>          E commerce dashboard data
01-09-2022  15:28           518,860 E-commerce Dashboard.pdf
04-09-2022  14:36    <DIR>          ETL
04-09-2022  14:35         7,947,178 ETL.rar
01-09-2022  15:37           367,127 ETL-6.pdf
29-08-2022  12:55           408,079 Exception_handling_revision_class.ipynb
29-08-2022  22:56           209,291 Exception_handling_revision_class-checkpoint.ipynb
01-09-2022  00:20         6,329,167 FIFA (1).zip
31-08-2022  19:09    <DIR>          FitBit (3)
31-08-2022  19:09         1,806,804 FitBit (3).zip
18-12-2019  04:51         4,989,673 FitBit EDA.ipynb
01-09-2022  00:20         1,344,407 Flight_Price.zip
26-08-2022  16:16            44,012 for loop practice  (1) (1).ipynb
22-08-2022  23:03            41,960 for loop practice  (1).ipynb
19-08-2022  13:04           720,130 Full Stack Data Science.pdf
29-08-2022  11:32            52,079 Function continued .ipynb
27-08-2022  18:16        49,351,760 Git-2.37.2.2-64-bit.exe
28-08-2022  03:30            10,464 Hello.mp3
31-08-2022  16:23    <DIR>          hello_world
31-08-2022  16:22            12,576 hello_world.zip
27-08-2022  18:12        23,347,632 heroku-x64.exe
28-08-2022  01:30           280,494 Hey keshava.mp3
20-08-2022  22:38            48,920 HID event filter_Intel_2.2.1.386_W11x64_A.zip
29-08-2022  01:10         1,029,752 How to be a great analyst.pdf
01-09-2022  00:20           893,881 HRPrediction.zip
23-08-2022  21:40            13,501 iNeuron Syllabus.docx
19-08-2022  09:29           177,273 Internship Certificate Gilbert Research Center.pdf
31-08-2022  02:22            66,235 iterator , generator , map , reduce , filter , basic file operation .ipynb
06-09-2022  19:41            23,877 Iterator, generator, map, reduce, filter, basic file operation.ipynb
23-08-2022  00:22         2,261,680 JavaSetup8u341.exe
22-08-2022  23:29       160,901,280 jdk-18_windows-x64_bin.exe
01-09-2022  15:41           149,540 Job Recommendation.pdf
24-08-2022  15:37       103,956,099 kafka_2.13-3.2.1.tgz
03-09-2022  00:18       504,386,456 KNIME 4.6.1 Installer (64bit).exe
20-08-2022  20:29            84,922 List , tuples , dict , set .ipynb
31-08-2022  12:12    <DIR>          logging
03-09-2022  14:27            25,117 logging and debuging.ipynb
29-08-2022  19:34             1,944 Martin Maschio ?56.txt
01-09-2022  19:04       470,106,112 mysql-installer-community-8.0.30.0.msi
01-09-2022  18:59         5,738,496 mysql-installer-web-community-8.0.30.0.msi
28-08-2022  01:42                 0 New Text Document.txt
02-09-2022  01:57       360,684,264 PBIDesktopSetup.exe
19-08-2022  16:39       395,586,608 pycharm-community-2022.2.1.exe
19-08-2022  20:00            86,595 Python string basic  (2).ipynb
31-08-2022  22:23        28,916,488 python-3.10.6-amd64.exe
31-08-2022  22:22         8,585,728 python-3.10.6-embed-amd64.zip
19-08-2022  09:29           238,942 Recommendation Letter Gilbert Research Center.pdf
31-08-2022  11:41            59,983 Revision and task solving (1).ipynb
20-08-2022  22:33            96,096 SerialNumberDetectionTool (1).exe
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback (1).pbix
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback.pbix
23-08-2022  22:28        21,617,320 Sql cheat sheet.pdf
21-08-2022  21:45         5,950,368 SQL2019-SSEI-Dev.exe
21-08-2022  21:45         6,379,936 SQL2019-SSEI-Expr.exe
16-09-2018  19:16             1,014 sqlServerConn.py
25-08-2022  16:01       709,679,272 SSMS-Setup-ENU.exe
25-08-2022  23:55           228,913 Subodh Bharti Letter Of Recommendation (1).pdf
25-08-2022  23:55           228,435 Subodh Bharti Letter Of Recommendation.pdf
03-09-2022  00:27       493,160,456 TableauPublicDesktop-64bit-2022-2-1.exe
20-08-2022  12:05        42,255,624 TeamViewer_Setup_x64 (1).exe
20-08-2022  11:07        42,255,624 TeamViewer_Setup_x64.exe
01-09-2022  15:27         1,990,411 UGV_HLD_2.0v.pdf
17-08-2022  12:03            96,096 Unconfirmed 265677.crdownload
20-08-2022  22:33            96,096 Unconfirmed 66070.crdownload
29-08-2022  12:55            62,890 Untitled (1).ipynb
30-08-2022  00:54            52,494 Untitled.ipynb
31-08-2022  01:16        17,432,103 Untitled1.ipynb
29-08-2022  12:55               589 Untitled-checkpoint.ipynb
18-08-2022  19:49             1,584 Vaccinations-Database-DDL (1).sql
18-08-2022  19:49             1,584 Vaccinations-Database-DDL.sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data (1).sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data.sql
29-08-2022  17:58       931,690,806 Video-20220829_105531-Meeting Recording.mp4
29-08-2022  19:48       262,436,617 Video-20220829_141441-Meeting Recording.mp4
20-08-2022  14:51           376,587 Volatility prediction.pdf
23-08-2022  21:44        82,878,552 VSCodeUserSetup-x64-1.70.2.exe
26-08-2022  23:53            41,438 while loop and basic of function .ipynb
01-09-2022  00:20           517,670 zomato (4).zip
             102 File(s)  5,831,574,305 bytes
              10 Dir(s)  277,998,407,680 bytes free

In [12]:
f= open("file1.txt", 'w')

In [13]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 9497-4DE2

 Directory of C:\Users\sub13\Downloads

20-08-2022  23:49         2,877,860 #1 Core Python Material.pdf
20-08-2022  23:49         2,665,918 #2 Advanced Python Material.pdf
06-09-2022  19:47    <DIR>          .
06-09-2022  19:27    <DIR>          ..
06-09-2022  16:43    <DIR>          .ipynb_checkpoints
29-08-2022  03:35           246,012 17th.pdf
01-09-2022  00:21         7,290,387 19.2.MySQL.7z
01-09-2022  00:22           297,503 22.Food App-20220831T185208Z-001.zip
01-09-2022  00:22           519,491 24.Weather App-20220831T185226Z-001.zip
01-09-2022  00:22         5,300,184 25.MemesGenerator App-20220831T185238Z-001.zip
01-09-2022  00:23            25,477 4.Control Flow.ipynb
01-09-2022  00:21         1,087,591 Advanced-House-Price-Prediction--master.zip
19-08-2022  16:38       622,731,992 Anaconda3-2022.05-Windows-x86_64.exe
24-08-2022  23:28        40,202,240 apache-zookeeper-3.8.0-bin.tar
24-08-2022  23:28        13,185,104 apache-zookeeper-3.8.0-bin.tar.gz
03-09-2022  23:31         7,548,686 archive.zip
29-08-2022  12:50            10,389 assertion.png
01-09-2022  00:21       100,703,673 AutoViz_Library_Shivan.zip
29-08-2022  14:14    <DIR>          basket-2022-08-01_v_4031100
29-08-2022  14:10        62,488,881 basket-2022-08-01_v_4031100 (1).zip
29-08-2022  14:11        62,488,881 basket-2022-08-01_v_4031100 (2).zip
29-08-2022  14:12        62,488,881 basket-2022-08-01_v_4031100 (3).zip
29-08-2022  14:09        62,488,881 basket-2022-08-01_v_4031100.zip
29-08-2022  03:17            83,944 Basketball Match Analysts. Training plan.xlsx
22-08-2022  23:01            44,309 conditional statement - if , elif, else.ipynb
25-08-2022  22:30               861 connect to sql server in python.zip
18-08-2022  17:58             7,513 Cover Letter.docx
19-08-2022  09:27            15,380 CV-Subodh Bharti new2.docx
19-08-2022  09:27           131,980 CV-Subodh Bharti new2.pdf
01-09-2022  19:47    <DIR>          DataAnalysisProjects-master
01-09-2022  19:46         9,767,946 DataAnalysisProjects-master.zip
29-08-2022  22:53                15 demo_file
01-09-2022  15:28           376,754 Document Tagging.pdf
01-09-2022  22:27                25 dummy table.sql
04-09-2022  01:04    <DIR>          E commerce dashboard data
01-09-2022  15:28           518,860 E-commerce Dashboard.pdf
04-09-2022  14:36    <DIR>          ETL
04-09-2022  14:35         7,947,178 ETL.rar
01-09-2022  15:37           367,127 ETL-6.pdf
29-08-2022  12:55           408,079 Exception_handling_revision_class.ipynb
29-08-2022  22:56           209,291 Exception_handling_revision_class-checkpoint.ipynb
01-09-2022  00:20         6,329,167 FIFA (1).zip
06-09-2022  19:47                 0 file1.txt
31-08-2022  19:09    <DIR>          FitBit (3)
31-08-2022  19:09         1,806,804 FitBit (3).zip
18-12-2019  04:51         4,989,673 FitBit EDA.ipynb
01-09-2022  00:20         1,344,407 Flight_Price.zip
26-08-2022  16:16            44,012 for loop practice  (1) (1).ipynb
22-08-2022  23:03            41,960 for loop practice  (1).ipynb
19-08-2022  13:04           720,130 Full Stack Data Science.pdf
29-08-2022  11:32            52,079 Function continued .ipynb
27-08-2022  18:16        49,351,760 Git-2.37.2.2-64-bit.exe
28-08-2022  03:30            10,464 Hello.mp3
31-08-2022  16:23    <DIR>          hello_world
31-08-2022  16:22            12,576 hello_world.zip
27-08-2022  18:12        23,347,632 heroku-x64.exe
28-08-2022  01:30           280,494 Hey keshava.mp3
20-08-2022  22:38            48,920 HID event filter_Intel_2.2.1.386_W11x64_A.zip
29-08-2022  01:10         1,029,752 How to be a great analyst.pdf
01-09-2022  00:20           893,881 HRPrediction.zip
23-08-2022  21:40            13,501 iNeuron Syllabus.docx
19-08-2022  09:29           177,273 Internship Certificate Gilbert Research Center.pdf
31-08-2022  02:22            66,235 iterator , generator , map , reduce , filter , basic file operation .ipynb
06-09-2022  19:41            23,877 Iterator, generator, map, reduce, filter, basic file operation.ipynb
23-08-2022  00:22         2,261,680 JavaSetup8u341.exe
22-08-2022  23:29       160,901,280 jdk-18_windows-x64_bin.exe
01-09-2022  15:41           149,540 Job Recommendation.pdf
24-08-2022  15:37       103,956,099 kafka_2.13-3.2.1.tgz
03-09-2022  00:18       504,386,456 KNIME 4.6.1 Installer (64bit).exe
20-08-2022  20:29            84,922 List , tuples , dict , set .ipynb
31-08-2022  12:12    <DIR>          logging
03-09-2022  14:27            25,117 logging and debuging.ipynb
29-08-2022  19:34             1,944 Martin Maschio ?56.txt
01-09-2022  19:04       470,106,112 mysql-installer-community-8.0.30.0.msi
01-09-2022  18:59         5,738,496 mysql-installer-web-community-8.0.30.0.msi
28-08-2022  01:42                 0 New Text Document.txt
02-09-2022  01:57       360,684,264 PBIDesktopSetup.exe
19-08-2022  16:39       395,586,608 pycharm-community-2022.2.1.exe
19-08-2022  20:00            86,595 Python string basic  (2).ipynb
31-08-2022  22:23        28,916,488 python-3.10.6-amd64.exe
31-08-2022  22:22         8,585,728 python-3.10.6-embed-amd64.zip
19-08-2022  09:29           238,942 Recommendation Letter Gilbert Research Center.pdf
31-08-2022  11:41            59,983 Revision and task solving (1).ipynb
20-08-2022  22:33            96,096 SerialNumberDetectionTool (1).exe
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback (1).pbix
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback.pbix
23-08-2022  22:28        21,617,320 Sql cheat sheet.pdf
21-08-2022  21:45         5,950,368 SQL2019-SSEI-Dev.exe
21-08-2022  21:45         6,379,936 SQL2019-SSEI-Expr.exe
16-09-2018  19:16             1,014 sqlServerConn.py
25-08-2022  16:01       709,679,272 SSMS-Setup-ENU.exe
25-08-2022  23:55           228,913 Subodh Bharti Letter Of Recommendation (1).pdf
25-08-2022  23:55           228,435 Subodh Bharti Letter Of Recommendation.pdf
03-09-2022  00:27       493,160,456 TableauPublicDesktop-64bit-2022-2-1.exe
20-08-2022  12:05        42,255,624 TeamViewer_Setup_x64 (1).exe
20-08-2022  11:07        42,255,624 TeamViewer_Setup_x64.exe
01-09-2022  15:27         1,990,411 UGV_HLD_2.0v.pdf
17-08-2022  12:03            96,096 Unconfirmed 265677.crdownload
20-08-2022  22:33            96,096 Unconfirmed 66070.crdownload
29-08-2022  12:55            62,890 Untitled (1).ipynb
30-08-2022  00:54            52,494 Untitled.ipynb
31-08-2022  01:16        17,432,103 Untitled1.ipynb
29-08-2022  12:55               589 Untitled-checkpoint.ipynb
18-08-2022  19:49             1,584 Vaccinations-Database-DDL (1).sql
18-08-2022  19:49             1,584 Vaccinations-Database-DDL.sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data (1).sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data.sql
29-08-2022  17:58       931,690,806 Video-20220829_105531-Meeting Recording.mp4
29-08-2022  19:48       262,436,617 Video-20220829_141441-Meeting Recording.mp4
20-08-2022  14:51           376,587 Volatility prediction.pdf
23-08-2022  21:44        82,878,552 VSCodeUserSetup-x64-1.70.2.exe
26-08-2022  23:53            41,438 while loop and basic of function .ipynb
01-09-2022  00:20           517,670 zomato (4).zip
             103 File(s)  5,831,574,305 bytes
              10 Dir(s)  277,994,106,880 bytes free

In [34]:
f= open("file1.txt", "w")

In [35]:
f.write("This is my very first file operation")

36

In [36]:
f.close

In [16]:
ls()

 Volume in drive C is Acer
 Volume Serial Number is 9497-4DE2

 Directory of C:\Users\sub13\Downloads

File Not Found

In [17]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 9497-4DE2

 Directory of C:\Users\sub13\Downloads

20-08-2022  23:49         2,877,860 #1 Core Python Material.pdf
20-08-2022  23:49         2,665,918 #2 Advanced Python Material.pdf
06-09-2022  19:51    <DIR>          .
06-09-2022  19:27    <DIR>          ..
06-09-2022  16:43    <DIR>          .ipynb_checkpoints
29-08-2022  03:35           246,012 17th.pdf
01-09-2022  00:21         7,290,387 19.2.MySQL.7z
01-09-2022  00:22           297,503 22.Food App-20220831T185208Z-001.zip
01-09-2022  00:22           519,491 24.Weather App-20220831T185226Z-001.zip
01-09-2022  00:22         5,300,184 25.MemesGenerator App-20220831T185238Z-001.zip
01-09-2022  00:23            25,477 4.Control Flow.ipynb
01-09-2022  00:21         1,087,591 Advanced-House-Price-Prediction--master.zip
19-08-2022  16:38       622,731,992 Anaconda3-2022.05-Windows-x86_64.exe
24-08-2022  23:28        40,202,240 apache-zookeeper-3.8.0-bin.tar
24-08-2022  23:28        13,185,104 apache-zookeeper-3.8.0-bin.tar.gz
03-09-2022  23:31         7,548,686 archive.zip
29-08-2022  12:50            10,389 assertion.png
01-09-2022  00:21       100,703,673 AutoViz_Library_Shivan.zip
29-08-2022  14:14    <DIR>          basket-2022-08-01_v_4031100
29-08-2022  14:10        62,488,881 basket-2022-08-01_v_4031100 (1).zip
29-08-2022  14:11        62,488,881 basket-2022-08-01_v_4031100 (2).zip
29-08-2022  14:12        62,488,881 basket-2022-08-01_v_4031100 (3).zip
29-08-2022  14:09        62,488,881 basket-2022-08-01_v_4031100.zip
29-08-2022  03:17            83,944 Basketball Match Analysts. Training plan.xlsx
22-08-2022  23:01            44,309 conditional statement - if , elif, else.ipynb
25-08-2022  22:30               861 connect to sql server in python.zip
18-08-2022  17:58             7,513 Cover Letter.docx
19-08-2022  09:27            15,380 CV-Subodh Bharti new2.docx
19-08-2022  09:27           131,980 CV-Subodh Bharti new2.pdf
01-09-2022  19:47    <DIR>          DataAnalysisProjects-master
01-09-2022  19:46         9,767,946 DataAnalysisProjects-master.zip
29-08-2022  22:53                15 demo_file
01-09-2022  15:28           376,754 Document Tagging.pdf
01-09-2022  22:27                25 dummy table.sql
04-09-2022  01:04    <DIR>          E commerce dashboard data
01-09-2022  15:28           518,860 E-commerce Dashboard.pdf
04-09-2022  14:36    <DIR>          ETL
04-09-2022  14:35         7,947,178 ETL.rar
01-09-2022  15:37           367,127 ETL-6.pdf
29-08-2022  12:55           408,079 Exception_handling_revision_class.ipynb
29-08-2022  22:56           209,291 Exception_handling_revision_class-checkpoint.ipynb
01-09-2022  00:20         6,329,167 FIFA (1).zip
06-09-2022  19:47                 0 file1.txt
31-08-2022  19:09    <DIR>          FitBit (3)
31-08-2022  19:09         1,806,804 FitBit (3).zip
18-12-2019  04:51         4,989,673 FitBit EDA.ipynb
01-09-2022  00:20         1,344,407 Flight_Price.zip
26-08-2022  16:16            44,012 for loop practice  (1) (1).ipynb
22-08-2022  23:03            41,960 for loop practice  (1).ipynb
19-08-2022  13:04           720,130 Full Stack Data Science.pdf
29-08-2022  11:32            52,079 Function continued .ipynb
27-08-2022  18:16        49,351,760 Git-2.37.2.2-64-bit.exe
28-08-2022  03:30            10,464 Hello.mp3
31-08-2022  16:23    <DIR>          hello_world
31-08-2022  16:22            12,576 hello_world.zip
27-08-2022  18:12        23,347,632 heroku-x64.exe
28-08-2022  01:30           280,494 Hey keshava.mp3
20-08-2022  22:38            48,920 HID event filter_Intel_2.2.1.386_W11x64_A.zip
29-08-2022  01:10         1,029,752 How to be a great analyst.pdf
01-09-2022  00:20           893,881 HRPrediction.zip
23-08-2022  21:40            13,501 iNeuron Syllabus.docx
19-08-2022  09:29           177,273 Internship Certificate Gilbert Research Center.pdf
31-08-2022  02:22            66,235 iterator , generator , map , reduce , filter , basic file operation .ipynb
06-09-2022  19:51            43,586 Iterator, generator, map, reduce, filter, basic file operation.ipynb
23-08-2022  00:22         2,261,680 JavaSetup8u341.exe
22-08-2022  23:29       160,901,280 jdk-18_windows-x64_bin.exe
01-09-2022  15:41           149,540 Job Recommendation.pdf
24-08-2022  15:37       103,956,099 kafka_2.13-3.2.1.tgz
03-09-2022  00:18       504,386,456 KNIME 4.6.1 Installer (64bit).exe
20-08-2022  20:29            84,922 List , tuples , dict , set .ipynb
31-08-2022  12:12    <DIR>          logging
03-09-2022  14:27            25,117 logging and debuging.ipynb
29-08-2022  19:34             1,944 Martin Maschio ?56.txt
01-09-2022  19:04       470,106,112 mysql-installer-community-8.0.30.0.msi
01-09-2022  18:59         5,738,496 mysql-installer-web-community-8.0.30.0.msi
28-08-2022  01:42                 0 New Text Document.txt
02-09-2022  01:57       360,684,264 PBIDesktopSetup.exe
19-08-2022  16:39       395,586,608 pycharm-community-2022.2.1.exe
19-08-2022  20:00            86,595 Python string basic  (2).ipynb
31-08-2022  22:23        28,916,488 python-3.10.6-amd64.exe
31-08-2022  22:22         8,585,728 python-3.10.6-embed-amd64.zip
19-08-2022  09:29           238,942 Recommendation Letter Gilbert Research Center.pdf
31-08-2022  11:41            59,983 Revision and task solving (1).ipynb
20-08-2022  22:33            96,096 SerialNumberDetectionTool (1).exe
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback (1).pbix
01-09-2022  19:34         2,579,315 si_youtube_updated_after_feedback.pbix
23-08-2022  22:28        21,617,320 Sql cheat sheet.pdf
21-08-2022  21:45         5,950,368 SQL2019-SSEI-Dev.exe
21-08-2022  21:45         6,379,936 SQL2019-SSEI-Expr.exe
16-09-2018  19:16             1,014 sqlServerConn.py
25-08-2022  16:01       709,679,272 SSMS-Setup-ENU.exe
25-08-2022  23:55           228,913 Subodh Bharti Letter Of Recommendation (1).pdf
25-08-2022  23:55           228,435 Subodh Bharti Letter Of Recommendation.pdf
03-09-2022  00:27       493,160,456 TableauPublicDesktop-64bit-2022-2-1.exe
20-08-2022  12:05        42,255,624 TeamViewer_Setup_x64 (1).exe
20-08-2022  11:07        42,255,624 TeamViewer_Setup_x64.exe
01-09-2022  15:27         1,990,411 UGV_HLD_2.0v.pdf
17-08-2022  12:03            96,096 Unconfirmed 265677.crdownload
20-08-2022  22:33            96,096 Unconfirmed 66070.crdownload
29-08-2022  12:55            62,890 Untitled (1).ipynb
30-08-2022  00:54            52,494 Untitled.ipynb
31-08-2022  01:16        17,432,103 Untitled1.ipynb
29-08-2022  12:55               589 Untitled-checkpoint.ipynb
18-08-2022  19:49             1,584 Vaccinations-Database-DDL (1).sql
18-08-2022  19:49             1,584 Vaccinations-Database-DDL.sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data (1).sql
18-08-2022  19:49             2,478 Vaccinations-Database-Sample-Data.sql
29-08-2022  17:58       931,690,806 Video-20220829_105531-Meeting Recording.mp4
29-08-2022  19:48       262,436,617 Video-20220829_141441-Meeting Recording.mp4
20-08-2022  14:51           376,587 Volatility prediction.pdf
23-08-2022  21:44        82,878,552 VSCodeUserSetup-x64-1.70.2.exe
26-08-2022  23:53            41,438 while loop and basic of function .ipynb
01-09-2022  00:20           517,670 zomato (4).zip
             103 File(s)  5,831,594,014 bytes
              10 Dir(s)  278,039,797,760 bytes free

In [30]:
f2=open("file2.txt","w")

In [32]:
f2.write("This is another file")

20

In [33]:
f2.close()

In [68]:
l=["subodh", 122, 3434]

In [69]:
f2=open("file2.txt", "w")

In [70]:
f2.write(str(l))

21

In [71]:
f2.close()

In [74]:
%%writefile test5.txt
This is my python program to into a file in different way.
This is my python program to write into a file in different way.
This is my python program to write into a file in different way.

Overwriting test5.txt

In [75]:
f2=open("test5.txt")

In [76]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [77]:
f2.read()

''

In [78]:
f2.close()

In [80]:
f2=open("test5.txt")
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [81]:
f2.read()

''

In [82]:
f2.seek(0)     # seek is responsible for setting pointer in in a file

0

In [83]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [92]:
f2.seek(0)

0

In [93]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [104]:
f2.seek(150)

150

In [105]:
f2.read()

'm to write into a file in different way.\n'

In [106]:
f2.tell()

192

In [121]:
f2.seek(5)

5

In [122]:
f2.tell()

5

In [123]:
f2.read(5)

'is my'

In [124]:
f2.read(0)

''

In [125]:
f2.readlines()

[' python program to into a file in different way.\n',
 'This is my python program to write into a file in different way.\n',
 'This is my python program to write into a file in different way.\n']

In [126]:
f2.seek(0)

0

In [127]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [117]:
f2.readlines()  # for reading multiple lines

['This is my python program to into a file in different way.\n',
 'This is my python program to write into a file in different way.\n',
 'This is my python program to write into a file in different way.\n']

In [129]:
f2.seek(0)

0

In [130]:
f2.readline()    # for reading single line

'This is my python program to into a file in different way.\n'

In [131]:
f2

In [132]:
f2.seek(0)

0

In [133]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [143]:
f2.tell()

ValueError: I/O operation on closed file.

In [138]:
f2.close()

In [151]:
f2=open("test5.txt","w")

In [152]:
f2.write("""This is my python program to into a file in different way.
This is my python program to write into a file in different way.
This is my python program to write into a file in different way.
""")

189

In [154]:
f2.close()

In [179]:
f2=open("test5.txt")

In [180]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [181]:
f2.tell()

192

In [182]:
f2.seek(0)

0

In [183]:
f2.read()

'This is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [184]:
f2.seek(5)

5

In [185]:
f2.read()

'is my python program to into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\n'

In [186]:
f2.tell()

192

In [187]:
f2.read()

''

In [188]:
f2.seek(8)   #it brings the pointer to the spesified position in the file

8

In [189]:
f2.read(15)   #it takes the pointer to the recent position 
                # and gives the specified number of location in the file

'my python progr'

In [190]:
f2.fileno()

8

In [191]:
f2.close()

In [208]:
f= open("test.txt", "w")

In [209]:
f.write("""
my python program to into a file in different way.
This is my python program to write into a file in different way.
This is my python program to write into a file in different way.
"""
)

182

In [210]:
f.write("""
This is my python program to into a file in different way.
This is my python program to write into a file in different way.
This is my python program to write into a file in different way.
"""
)

190

In [211]:
f.close()

In [212]:
f= open("test.txt", "a")     # to append in file not to overwrite the existing data

In [213]:
f.write("this is my new dataset")

22

In [214]:
f.close()

In [215]:
f.name

'test.txt'

In [217]:
f.name

'test.txt'

In [77]:
f3= open("d:/test6.txt", "w")

In [78]:
f3.write("This is my new dataset in different directory")

45

In [79]:
f3.mode

'w'

In [80]:
f3.close()

## map, reduce, filter

In [234]:
l=[2,3,4,5,5,6]

In [223]:
l1=[]
for i in l:
    l1.append(i**2)

In [224]:
l1

[4, 9, 16, 25, 25, 36]

In [226]:
def sq(n):
    return n**2

In [237]:
list(map(sq,l))     # perform mapping each element

[4, 9, 16, 25, 25, 36]

In [238]:
l

[2, 3, 4, 5, 5, 6]

In [230]:
list(map(lambda x: x**2,l))    # in map function first arguement should be function
                                # and 2nd arguement is iterable

[4, 9, 16, 25, 25, 36]

In [235]:
def str_c(n):
    return str(n)

In [239]:
list(map(str_c,l))

['2', '3', '4', '5', '5', '6']

In [ ]:
!pip install functools

In [4]:
from functools import reduce

In [11]:
l=[3,4,5,6,7,8,9,10,112]

In [12]:
sum(l)

164

In [17]:
reduce(lambda a,b:a+b,l)

164

In [15]:
l2=[3]

In [16]:
l2

[3]

In [18]:
reduce(lambda a,b:a+b,l2)

3

In [19]:
reduce(lambda a,b:a*b,l2)

3

In [25]:
l3=[3,5]

In [26]:
l3

[3, 5]

In [27]:
reduce(lambda a,b:a+b,l3)  #Iterables with only one element redues to one only that is Exception

8

In [28]:
reduce(lambda a,b:a*b,l3)    #Iterables with only one element redues to one only that is Exception

15

In [29]:
l=[1,2,3,4,45,5]

In [31]:
list(filter(lambda x: x%2, l))

[1, 3, 45, 5]

In [33]:
def check_even(n):
    if n%2==0:
        return True

In [34]:
list(filter(check_even, l))

[2, 4]

In [35]:
l

[1, 2, 3, 4, 45, 5]

In [57]:
#fibonacci
def gen_fib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        if i==0 or i==1:
            l.append(a)
            
        else:
            t=b
            b=a
            a=b+t
            
            l.append(a)
       
        
    return l

In [58]:
gen_fib(7)

[1, 1, 2, 3, 5, 8, 13]

In [59]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [60]:
genfib(7)

[1, 1, 2, 3, 5, 8, 13]

In [61]:
def test(x,y,z=0):
    return x+y, x-y, x*y

In [62]:
test(2,3)

(5, -1, 6)

In [63]:
a,_,b=test(2,3)

In [64]:
a

5

In [65]:
_

-1

In [66]:
b

6

In [71]:
cube=map(lambda x: x**3, range(5))

In [74]:
cube    # map generator function

In [75]:
list(cube)

[0, 1, 8, 27, 64]

In [83]:
m=2
for i in range(5):
    if i<=m//2:
        print(i)

0
1