In [ ]:
a = 1 
b = 10

while a <=b :
    
    a = a +1
    print(a)

In [ ]:
a = 1
b = 10 
while a <=b :
    print(a)
    a = a +2
else :
    print("print this else block")

In [ ]:
a = 1 
b = 10 
while a <10 :
    print(a)
    if a == 5:
        break
    a = a +1
else :
    print("print this ")

In [ ]:
a = 1 
b = 10 
while a < b :
    print(a)
    if a == 3:
        continue
    a = a +1

In [ ]:
a = 1 
b = 10 
while a < b :
    
    a = a +1
    if a == 3:
        pass
    print(a)

In [ ]:
l= [1,2,3,4,65,56]
len(l)

In [ ]:
for i in l :
    print(i)

In [ ]:
a = 0
while a < len(l):
    print(l[a])
    a= a +1

In [ ]:
t = (3,4,5,6,7,8,9)

In [ ]:
t

In [ ]:
a = 0 
while a < len(t):
    if t[a] == 6 or t[a] == 7 :
        print(a)
    a = a +1

In [ ]:
a=0
while a < len(t):
    if t[a]==6 or t[a]==7:
        print (a)
    a = a-1

In [ ]:
i = 0
while  len(t) > i:
    if t[i] == 6 or t[i] == 7:
        print ("index of " + str(t[i]) + " is " +str(i))
    i-=1

In [ ]:
l=(3,4,5,6,7,8,9)
i=0
while i< len(l):
    if(l[i]==6) or l[i]==7:
        print(i)
    if i == -len(l):
        break
    i-=1
    #i = i-1

In [ ]:
a=-1
while a>=-len(t):
    if t[a]==6 or t[a]==7 :
        print('index of ',t[a], ' is ',a)
    a=a-1

In [ ]:
t = (6,4,5,6,7,8,6)

In [ ]:
d = {'k1' :"sudh" , "k2" :[1,2,3,4] , "k3" : (2,3,4,5)}

In [ ]:
d

In [ ]:
a = 0 
b = list(d.keys())
while a < len(d):
    print(d[b[a]])
    
    a = a+1

In [ ]:
b = list(d.keys())

In [ ]:
b

In [ ]:
len()
range()
print
keys
values
items
append
pop
insert
extend

In [ ]:
#Function

In [43]:
def test():
    print("this is my first function")

In [44]:
str(test()) + " sudh"

this is my first function

'None sudh'

In [45]:
type(test())

this is my first function

NoneType

In [53]:
def test1():
    return "this is my first fun"

In [54]:
test1() + " sudh"

'this is my first fun sudh'

In [55]:
def test2():
    pass

In [56]:
def test3() : 
    return 1,3 ,5 , [1,2,3,4,54,5]

In [73]:
a = test3()

In [74]:
a

(1, 3, 5, [1, 2, 3, 4, 54, 5])

In [71]:
a = 10 
b = 20
c = 30

In [75]:
a , b , _ , t =a

In [76]:
a

1

In [77]:
b

3

In [78]:
t

[1, 2, 3, 4, 54, 5]

In [79]:
_

5

In [85]:
a , b , _ ,_,_,_,_,_, t =( 23,45,56, 657,676,76,7,67,6)

In [87]:
_           #takes recent value out of many

67

In [88]:
a,b,c,d = test3()

In [89]:
a

1

In [90]:
b

3

In [91]:
c

5

In [92]:
d

[1, 2, 3, 4, 54, 5]

In [93]:
def test4() : 
    a = 4*5
    b = 6+4
    return a , b

In [94]:
g = test4()

In [95]:
g

(20, 10)

In [96]:
j,k = test4()

In [97]:
j

20

In [98]:
k

10

In [99]:
_ , m = test4()

In [100]:
m

10

In [101]:
_

20

In [102]:
test3()

(1, 3, 5, [1, 2, 3, 4, 54, 5])

In [103]:
_ ,_ , _ , g = test3()

In [104]:
g

[1, 2, 3, 4, 54, 5]

In [108]:
a = 1
b = 10 
while a <=b :
    print(a)
    a = a +2
else :
    print("print this else block")

1
3
5
7
9
print this else block

In [109]:
def test5() : 
    a  = 1
    b = 10 
    while a <=b :
        print(a)
        a = a +2
    else :
        print("print this else block")

In [110]:
test5()

1
3
5
7
9
print this else block

In [111]:
test5()

1
3
5
7
9
print this else block

In [112]:
test5()

1
3
5
7
9
print this else block

In [113]:
test5()

1
3
5
7
9
print this else block

In [114]:
def test5(a,b) : 
    l = []
    while a <=b :
        #print(a)
        l.append(a)
        a = a +2
    
    else :
        print( "print this else block")
    return l

In [115]:
test5(1,10)

print this else block

[1, 3, 5, 7, 9]

In [116]:
type(test5(30,2))

print this else block

list

In [117]:
l = [4,5,6,67,7,8,8,9,9,9, [3,4,5,6,7,7] , "sudh"]

In [118]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [119]:
l1

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9]

In [122]:
def test7() : 
    l1 = []
    for i in l :
        if type(i) == int:
            l1.append(i)
    return l1

In [123]:
test7()

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9]

In [128]:
l3 = [345,45,5,[5,6,5],"sudh",(4,6,6)]

In [129]:
def test7(l) : 
    l1 = []
    for i in l :
        if type(i) == int:
            l1.append(i)
    return l1

In [130]:
test7(l3)

[345, 45, 5]

In [133]:
t = (3,4,5,6,67,7,87,)
a=-1
while a>=-len(t):
    if t[a]==6 or t[a]==7 :
        print('index of ',t[a], ' is ',a)
    a=a-1

index of  7  is  -2
index of  6  is  -4

In [134]:
def test8(t):
    a=-1
    while a>=-len(t):
        if t[a]==6 or t[a]==7 :
            print('index of ',t[a], ' is ',a)
        a=a-1

In [135]:
test8(t)

index of  7  is  -2
index of  6  is  -4

In [136]:
test8((3,4,4,6,6,7,7,7,88))

index of  7  is  -2
index of  7  is  -3
index of  7  is  -4
index of  6  is  -5
index of  6  is  -6

In [ ]:
Your First Challenge : 
    
you have to submit it by next saturday 4th june 2022  : 
    shivan@ineuron.ai ,sudhanshu@ineuron.ai
    
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

In [137]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1' : "sudh", "k2" : "ineuron", "k3" : "kumar", 3:6, 7:8}, ["ineuron", "data science"]]
for i in l :
    if type(i) == set or type(i) == list or type(i) == str or  type(i) == tuple :
        for j in i :
            if type(j) == int :
                print(j)
    if type(i) == dict :
        for j in i.items() : 
            for k in j :
                if type(k) == int :
                    print(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [ ]:
a = -1
while a >= -len(t) :
         print(a)
         a = a -1

In [ ]:
t

In [ ]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,45,45,4,5]), 
   {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["neuron","datascience"]]
l2 = 0 
for i in range(0,len(l)):
    if type(l[i])==list:
        for j in range(0,len(l[i])):
            if type(l[i][j])==int:
                l2=l2+l[i][j]
    if type(l[i])==tuple:
            for j in range(0,len(l[i])):
                if type(l[i][j])==int:
                    l2=l2+l[i][j]
    if type(l[i])==set:
        l1=list(l[i])
        for j in range(0,len(l1)):
            l2=l2+l1[j]
    print(l2)

In [ ]:
l =  [1,2,3,4,5,6,7,[1,2,3,4]]

In [ ]:
def test7():
    l1=[]
    for i in l :
        if type(i) == int:
            l1.append(i)
    return l1

In [ ]:
test7()

In [ ]:
c=[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]
l13=[]
for i in range(len(c)):
    if type(c[i]) == str:
        if c[i].isalnum() == True:
            l13.append(c[i])
l13

In [ ]:
l = [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {5, 4, 45, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science']]

l11=[]
for i in range(len(l)):
    if type(l[i])==dict:
        for k,v in l[i].items():
            if type(k) == int:
                l11.append(k)
l11

In [ ]:
d = {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [ ]:
d.items()

In [ ]:
a  , b = ('k1', 'sudh')

In [ ]:
a

In [ ]:
b

In [ ]:
len()

In [ ]:
h = {"k1" : "Roni", "k2" : [1,2,3,4] , "k3" : (2,3,4,5)}
a=0
b = list(h.keys())
while a < len(h) :
    print(h[b[a]])
    a = a + 1

In [ ]:
l = [345,45,5,5,6,5, "sudh",(4,5,6)]
def test9():
    l1 = []
    for i in l :
        if type(i) == int:
            l1.append(i)
    return l1

In [ ]:
test9()

In [ ]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
   ["ineuron","data science"]]

In [ ]:
set([23,4,5,45,4,4,5,45,45,4,5])

In [ ]:
import math

n2=5
str="ineuron"
middle=math.floor(n2/2) if n2%2==0 else math.ceil(n2/2)
# first half
for l in range(1,n2+1):
    if l<=middle:
        k=middle-l
        for i in range(k):
            print(" "*len(str),end=" ")
        print((str+" "+" "*len(str)+" ")*l)
    else: # last half in reverse order
        r_spc=l-middle
        r= n2-l+1 #(5+1-4,5+1-5)
        for r2 in range(r):
            print(" "*len(str)*r_spc,str,end= " ")
        print("\n")

In [ ]:
def a():
    l1=l
    l1.append(20)
    print(l,l1)
l=[1,2]
a()

In [ ]:
l=[1,2,3,4,5,'sudh',234.45]
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

In [ ]:
# did i made mistake in this code.? why its not break at 'd'  ?       


a='sudh'

for i in a:
    if i=='d':
        break
    print(i)

In [ ]:
l=[1,2,3,4,5,'sudh',234.45]
for i in l:
    if type(i)==str:
        for j in i :
            if i=='d':
                break
            print(i)

In [ ]:
a='sudh'

for i in a:
    if i=='d':
        break
    print(i)

In [ ]:
a="*"
i=1
while i<5:
    print(a)
    i+=1
    a+="*"
while i>0:
    print(a[:i])
    i-=1
    #a-="*"
    #a.replace("*", "")

In [ ]:
a=1
b=10
while a<b:
    a+=1
    if a==3:
        continue #give control to loop immediately
    print(a)

In [ ]:
if a dictionary is stored in spam what is the difference between the expression 'cat' and in spam and 'cat' in in spam.keys()?
spam={'bar':100}

In [ ]:
n=3
for i in range(n):
 for j in range (n-i):
     print('    ',end='')
 for j in range (i+1):
     print(' ineuron ',end='')
 print()
for i in range(n):
    for j in range(i+1):
        print('    ',end='')
    for j in range (n-i):
        print(' ineuron ',end='')
    print()

In [ ]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
              l1.append(str(j))
    if type(i)==dict:
        for k,v in i.items():
                l1.append(str(k))
                l1.append(str(v))
l1
for w in l1:
    if w.isalnum():
        print(w)

In [ ]:
def test8(t):
        a = 0
        while a >-len(t):
            if t[a] == 6 or t[a] == 7:
                return (a+len(t))*-1         
            a= a-1

In [ ]:
test8((1,5,6,7,8,22,4,455,66,43))

In [ ]:
l = [4,5,6,67,7,8,8,9,9,9, [3,4,5,6,7,7], 'sudh']

def extract(fromList):
    
    extractedList = []
    listLen = len(fromList)

    outerLoop = 0
    while outerLoop < listLen :
        
        if type(outerLoop) == int :
            extractedList.append(fromList[outerLoop])

        elif type(outerLoop) == list or type(outerLoop) == tuple or type(outerLoop) == set :
            innerLoop = 0
            while innerLoop < outerLoop :
            
                if type(innerLoop) == int :
                    extractedList.append(fromList[innerLoop])
                innerLoop += 1
        else :
            pass
        
        outerLoop += 1
        
    else :
#         print("Else Block")
#         print(extractedList)
        return extractedList

listL = extract(l)
print(listL)

In [ ]:
t = (3,4,5,6,7,8,9)
a = 0
while a < len(t):
    
    if t[a] == 6 or t[a] == 7:
        print(a)
    a= a+1

In [ ]:
len(t)

In [ ]:
s = "ineuron" 
for i in range(len(s)-1,-1,-1):  # ask about this
    print(i,s[i])

In [ ]:
a=1
b=10
while a<10:
    print(a)
    if a==5:
        break
    a=a+1
else:
    print("jjjj")

In [ ]:
a=1
b=10
while a<10:
    print(a)
    if a==5:
        break
    a=a+1
else:
    print("jjjj")

In [ ]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)